cbp-universal-header {
  display: block;

  & > header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    color: var(--cbp-color-text-lightest);
    background-color: var(--cbp-color-branding-dhs-blue);
    min-height: var(--cbp-space-15x);
    width: 100%;
    padding: 0 var(--cbp-responsive-spacing-outer);

    .cbp-universal-header__brand {
      align-items: center;
      display: flex;

      &::after {
        content: 'CBP';
        font-size: var(--cbp-font-size-heading-xl);
        margin-left: var(--cbp-space-2x);
      }
    }

    .cbp-universal-header__content {
      ul,
      ol {
        display: flex;
        gap: var(--cbp-space-4x);
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: inline;
        }
      }

      // Button/Link - Secondary (custom) Ghost Button (Dark) styling
      // [fill] is only present for specificity
      cbp-button[fill] {
        //align-items: center;
        --cbp-button-border-width: 0;
        --cbp-button-color-text: var(--cbp-color-interactive-secondary-lighter);
        --cbp-button-color-fill: transparent;

        :hover {
          --cbp-button-color-text-hover: var(--cbp-color-interactive-secondary-lighter);
          --cbp-button-color-fill-hover: var(--cbp-color-interactive-secondary-dark);
        }

        :focus {
          --cbp-button-color-text-focus: var(--cbp-color-text-darkest);
          --cbp-button-color-fill-focus: var(--cbp-color-interactive-focus-light);
          --cbp-button-color-outline-focus: var(--cbp-color-black);
        }

        :active {
          --cbp-button-color-text-active: var(--cbp-color-text-darkest);
          --cbp-button-color-fill-active: var(--cbp-color-interactive-focus-light);
          --cbp-button-color-outline-active: var(--cbp-color-black);
        }
      }
    }
  }
}

@media (min-width: $cbp-breakpoint-md) {
  cbp-universal-header > header {
    min-height: 5.5rem;

    .cbp-universal-header__brand::after {
      content: '';
    }
  }
}

@media (min-width: $cbp-breakpoint-lg) {
  .cbp-universal-header__content cbp-button {
    padding: 0 var(--cbp-space-3x);
  }
}
