@use '../../tokens/breakpoints' as *;


.cbp-universal-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: var(--cbp-space-15x);
  padding: 0 var(--cbp-space-4x);
  background-color: var(--cbp-color-branding-dhs-blue);
}

.cbp-universal-header__brand {
  display: flex;
  align-items: center;

  &::after {
    content: "CBP";
    color: var(--cbp-color-text-lightest);
    font-size: var(--cbp-font-size-heading-xl);
    margin-left: var(--cbp-space-2x);
  }
}

.cbp-universal-header__list {
  display: flex;
  gap: var(--cbp-space-4x);
  list-style: none;
  margin: 0;
  padding: 0;
}

// Button/Link - Secondary Ghost Button (Dark) styling
.cbp-universal-header__item {
  display: flex;
  gap: var(--cbp-space-2x);
  align-items: center;
  justify-content: center;
  min-height: var(--cbp-space-9x);
  min-width: var(--cbp-space-9x);
  color: var(--cbp-color-interactive-secondary-lighter);
  background-color: transparent;
  border: 0;
  border-radius: var(--cbp-border-radius-soft);
  cursor: pointer;
  font-weight: var(--cbp-font-weight-medium);
  padding: 0 var(--cbp-space-3x);
  text-decoration: none;
  text-transform: uppercase;

  & span {
    display: none;
  }

  &:hover {
    background-color: var(--cbp-color-interactive-secondary-dark);
  }

  &:focus {
    background: var(--cbp-color-interactive-focus-light);
    color: var(--cbp-color-text-darkest);
    font-weight: --cbp-font-weight-bold;
    outline: var(--cbp-border-size-md) solid var(--cbp-color-black);
    outline-offset: calc(var(--cbp-space-1x) * -1);
  
    &:hover {
      background-color: var(--cbp-color-interactive-focus-light);
      color: var(--cbp-color-text-darkest);
    }
  }
}

@media (min-width: $cbp-breakpoint-md) {
  .cbp-universal-header {
    min-height: 5.5rem;
    padding: 0 var(--cbp-space-8x);
  }

  .cbp-universal-header__brand::after {
    content: none;
  }
}

@media (min-width: $cbp-breakpoint-lg) {
  .cbp-universal-header__item > span {
    display: unset;
  }
}

@media (min-width: $cbp-breakpoint-xl) {
  .cbp-universal-header {
    padding: 0 var(--cbp-space-11x);
  }
}
