@use '../../typography/fonts' as *;
@use '../../tokens/breakpoints' as *;


.cbp-universal-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 60px;
  padding: 0 var(--cbp-space-3x);
  background-color: var(--cbp-color-branding-dhs-blue);
  transition: top var(--cbp-motion-duration-medium) ease-in-out;
}

.cbp-universal-header__brand {
  display: flex;
  align-items: center;

  &::after {
    @extend .cbp-heading-l;
    content: "CBP";
    color: var(--cbp-color-text-lightest);
    margin-left: var(--cbp-space-2x);
  }
}

.cbp-universal-header__list {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

// TODO: Add Secondary Ghost Button Mixin
.cbp-universal-header__item {
  display: flex;
  gap: var(--cbp-space-2x);
  align-items: center;
  justify-content: center;
  min-height: 36px;
  min-width: 36px;
  color: var(--cbp-color-interactive-neutral-lighter);
  background-color: transparent;
  border: 0;
  border-radius: var(--cbp-border-radius-soft);
  cursor: pointer;
  font-weight: var(--cbp-font-weight-medium);
  text-decoration: none;
  text-transform: uppercase;

  & span {
    display: none;
  }

  &:hover {
    background-color: var(--cbp-color-interactive-neutral-dark);
  }

  &:focus {
    background: var(--cbp-color-interactive-focus-light);
    color: var(--cbp-color-text-darkest);
    font-weight: --cbp-font-weight-bold;
    outline: 2px solid var(--cbp-color-black);
    outline-offset: calc(var(--cbp-space-1x) * -1);
  
    &:hover {
      background-color: var(--cbp-color-interactive-focus-light);
      color: var(--cbp-color-text-darkest);
    }
  }
}

@media (min-width: $cbp-breakpoint-sm) {
  .cbp-universal-header {
    min-height: 88px;
    padding-left: var(--cbp-space-5x);
    padding-right: var(--cbp-space-5x);
  }

  .cbp-universal-header__brand::after {
    content: none;
  }

  .cbp-universal-header__item {
    padding: 0 var(--cbp-space-3x);
    width: unset;

    & > i {
      pointer-events: none;
    }
  }
}

@media (min-width: $cbp-breakpoint-lg) {
  .cbp-universal-header {
    padding: 0 var(--cbp-space-5x);
  }

  .cbp-universal-header__item {
    & > span {
      display: inline;
    }
  }
}

@media (min-width: $cbp-breakpoint-xl) {
  .cbp-universal-header {
    padding: 0 var(--cbp-space-7x);
  }
}
