/** 
 * @prop --cbp-structured-list-item-padding: var(--cbp-space-4x);
 * @prop --cbp-structured-list-color-background: var(--cbp-color-white);
 * @prop --cbp-structured-list-color-background-dark: var(--cbp-color-gray-cool-80);
 * @prop --cbp-structured-list-color-striped-background: var(--cbp-color-gray-cool-4);
 * @prop --cbp-structured-list-color-striped-background-dark: var(--cbp-color-gray-cool-90);
 * @prop --cbp-structured-list-color-background-hover: var(--cbp-color-gray-cool-10);
 * @prop --cbp-structured-list-color-background-hover-dark: var(--cbp-color-black);
 * @prop --cbp-structured-list-color: var(--cbp-color-text-darkest);
 * @prop --cbp-structured-list-color-dark: var(--cbp-color-text-lightest);
 * @prop --cbp-structured-list-border-color: var(--cbp-color-gray-cool-30);
 * @prop --cbp-structured-list-border-color-dark: var(--cbp-color-gray-cool-50);
 * @prop --cbp-structured-list-header-color-background: var(--cbp-color-gray-cool-30);
 * @prop --cbp-structured-list-header-color-background-dark: var(--cbp-color-gray-cool-60);
 * @prop --cbp-structured-list-header-color: var(--cbp-color-text-darkest);
 * @prop --cbp-structured-list-header-color-dark: var(--cbp-color-text-lightest);
 * @prop --cbp-structured-list-footer-color-background: var(--cbp-color-gray-cool-70);
 * @prop --cbp-structured-list-footer-color-background-dark: var(--cbp-color-gray-cool-5);
 * @prop --cbp-structured-list-footer-color: var(--cbp-color-text-lightest);
 * @prop --cbp-structured-list-footer-color-dark: var(--cbp-color-text-darkest);
 * @prop --cbp-structured-list-item-padding: var(--cbp-space-4x);
 * @prop --cbp-structured-list-item-color-background-danger: var(--cbp-color-danger-lighter);
 * @prop --cbp-structured-list-item-color-background-danger-dark: var(--cbp-color-danger-darker);
 * @prop --cbp-structured-list-item-color-background-warning: var(--cbp-color-warning-lighter);
 * @prop --cbp-structured-list-item-color-background-warning-dark: var(--cbp-color-warning-darker);
 * @prop --cbp-structured-list-item-color-background-success: var(--cbp-color-success-lighter);
 * @prop --cbp-structured-list-item-color-background-success-dark: var(--cbp-color-success-darker);
 * @prop --cbp-structured-list-item-color-background-info: var(--cbp-color-info-lighter);
 * @prop --cbp-structured-list-item-color-background-info-dark: var(--cbp-color-info-darker);
 * @prop --cbp-structured-list-item-color-background-selected: var(--cbp-color-interactive-selected-light);
 * @prop --cbp-structured-list-item-color-background-selected-dark: var(--cbp-color-interactive-selected-dark);
 * @prop --cbp-structured-list-margin-bottom: var(--cbp-space-4x);
*/
:root {
  --cbp-structured-list-item-padding: var(--cbp-space-4x);

  --cbp-structured-list-color-background: var(--cbp-color-white);
  --cbp-structured-list-color-background-dark: var(--cbp-color-gray-cool-80);
  --cbp-structured-list-color-striped-background: var(--cbp-color-gray-cool-4);
  --cbp-structured-list-color-striped-background-dark: var(--cbp-color-gray-cool-90);
  --cbp-structured-list-color-background-hover: var(--cbp-color-gray-cool-10);
  --cbp-structured-list-color-background-hover-dark: var(--cbp-color-black);
  --cbp-structured-list-color: var(--cbp-color-text-darkest);
  --cbp-structured-list-color-dark: var(--cbp-color-text-lightest);
  --cbp-structured-list-border-color: var(--cbp-color-gray-cool-30);
  --cbp-structured-list-border-color-dark: var(--cbp-color-gray-cool-50);

  --cbp-structured-list-header-color-background: var(--cbp-color-gray-cool-30);
  --cbp-structured-list-header-color-background-dark: var(--cbp-color-gray-cool-60);
  --cbp-structured-list-header-color: var(--cbp-color-text-darkest);
  --cbp-structured-list-header-color-dark: var(--cbp-color-text-lightest);

  --cbp-structured-list-footer-color-background: var(--cbp-color-gray-cool-70);
  --cbp-structured-list-footer-color-background-dark: var(--cbp-color-gray-cool-5);
  --cbp-structured-list-footer-color: var(--cbp-color-text-lightest);
  --cbp-structured-list-footer-color-dark: var(--cbp-color-text-darkest);
  
  --cbp-structured-list-item-padding: var(--cbp-space-4x);

  --cbp-structured-list-item-color-background-danger: var(--cbp-color-danger-lighter);
  --cbp-structured-list-item-color-background-danger-dark: var(--cbp-color-danger-darker);
  --cbp-structured-list-item-color-background-warning: var(--cbp-color-warning-lighter);
  --cbp-structured-list-item-color-background-warning-dark: var(--cbp-color-warning-dark);
  --cbp-structured-list-item-color-warning: var(--cbp-color-text-darkest);
  --cbp-structured-list-item-color-warning-dark: var(--cbp-color-text-darkest);
  --cbp-structured-list-item-color-background-success: var(--cbp-color-success-lighter);
  --cbp-structured-list-item-color-background-success-dark: var(--cbp-color-success-darker);
  --cbp-structured-list-item-color-background-info: var(--cbp-color-info-lighter);
  --cbp-structured-list-item-color-background-info-dark: var(--cbp-color-info-darker);

  --cbp-structured-list-item-color-background-selected: var(--cbp-color-interactive-selected-light);
  --cbp-structured-list-item-color-background-selected-dark: var(--cbp-color-interactive-selected-dark);

  --cbp-structured-list-margin-bottom: var(--cbp-space-4x);
}

[data-cbp-theme=light] cbp-structured-list[context*=dark]:not([context=light-always]),
[data-cbp-theme=dark] cbp-structured-list:not([context=dark-inverts]):not([context=light-always]) {

  --cbp-structured-list-color-background: var(--cbp-structured-list-color-background-dark) !important;
  --cbp-structured-list-color-striped-background: var(--cbp-structured-list-color-striped-background-dark) !important;
  --cbp-structured-list-color-background-hover: var(--cbp-structured-list-color-background-hover-dark) !important;
  --cbp-structured-list-color: var(--cbp-structured-list-color-dark) !important;
  --cbp-structured-list-border-color: var(--cbp-structured-list-border-color-dark) !important;
  --cbp-structured-list-header-color-background: var(--cbp-structured-list-header-color-background-dark) !important;
  --cbp-structured-list-header-color: var(--cbp-structured-list-header-color-dark) !important;

  --cbp-structured-list-footer-color-background: var(--cbp-structured-list-footer-color-background-dark) !important;
  --cbp-structured-list-footer-color: var(--cbp-structured-list-footer-color-dark) !important;

  --cbp-structured-list-item-color-background-danger: var(--cbp-structured-list-item-color-background-danger-dark) !important;
  --cbp-structured-list-item-color-background-warning: var(--cbp-structured-list-item-color-background-warning-dark) !important; 
  --cbp-structured-list-item-color-warning: var(--cbp-structured-list-item-color-warning-dark); 
  --cbp-structured-list-item-color-background-success: var(--cbp-structured-list-item-color-background-success-dark) !important;  
  --cbp-structured-list-item-color-background-info: var(--cbp-structured-list-item-color-background-info-dark) !important;    
  --cbp-structured-list-item-color-background-selected: var(--cbp-structured-list-item-color-background-selected-dark) !important;
}

cbp-structured-list {
  display: block; 
  background-color: var(--cbp-structured-list-color-background);
  color: var(--cbp-structured-list-color);
  margin-bottom: var(--cbp-structured-list-margin-bottom);
  
  [slot=cbp-structured-list-header] {
    color: var(--cbp-structured-list-header-color);
    background-color: var(--cbp-structured-list-header-color-background);
    font-style: italic;
  
    display: flex;
    align-items: center;
    padding: var(--cbp-space-3x);
    min-height: var(--cbp-space-13x);
    font-weight: var(--cbp-font-weight-bold);

    // Nesting 2 flex contexts will not take up 100% of the width
    *:only-child{
      flex-basis: 100%;
    }
  }

  // &[striped] [role=list] > *:nth-child(even):not([color]):not([selected]) {
  //   background-color: var(--cbp-structured-list-color-striped-background);
  // }

  &[striped=even] [role=list] > *:nth-child(even):not([color]):not([selected]),
  &[striped=odd] [role=list] > *:nth-child(odd):not([color]):not([selected]) {
    background-color: var(--cbp-structured-list-color-striped-background);
  }

  // Style all list items regardless of the element used to wrap/define them (don't leave this to cbp-structured-list-item)
  div[role=list] > * {
    display: block;
    padding: var(--cbp-structured-list-item-padding);
    border-bottom-style: solid;
    border-bottom-width: var(--cbp-border-size-md);
    border-bottom-color: var(--cbp-structured-list-border-color);

    &:hover {
      // color: var(--cbp-structured-list-color) !important;
      background-color: var(--cbp-structured-list-color-background-hover) !important;
    }
  }

  /**Collection */

  div[role=list]:only-child > *:first-child {
    border-top: var(--cbp-border-size-md) solid var(--cbp-structured-list-border-color);
  }
  
  /** Selectable */

  &[selectable] [slot=cbp-structured-list-header] {
    gap: var(--cbp-space-4x);
  }

  &[selectable] cbp-structured-list-item{
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: var(--cbp-space-4x);
  }

  cbp-structured-list-item[selected]{
  
    --cbp-structured-list-color-background: var(--cbp-color-interactive-selected-light);
    --cbp-structured-list-border-color: var(--cbp-color-gray-cool-30);
    --cbp-structured-list-color-background-dark: var(--cbp-color-interactive-selected-dark);
    --cbp-structured-list-border-color-dark: var(--cbp-color-gray-cool-50);

    &:hover{
    --cbp-structured-list-color-background: var(--cbp-color-gray-cool-10);
    --cbp-structured-list-border-color: var(--cbp-color-gray-cool-30);
    --cbp-structured-list-color-background-dark: var(--cbp-color-gray-cool-90);
    --cbp-structured-list-border-color-dark: var(--cbp-color-gray-cool-50);
    }
  }

  cbp-structured-list-item {
    display: block;
    background-color: var(--cbp-structured-list-color-background);
    color: var(--cbp-structured-list-color);

    &[color=danger]:not([selected]) {
      --cbp-structured-list-color-background: var(--cbp-structured-list-item-color-background-danger);
    }
    
    &[color=warning]:not([selected]) {
      --cbp-structured-list-header-color: var(--cbp-structured-list-item-color-warning);
      --cbp-structured-list-color-background: var(--cbp-structured-list-item-color-background-warning);
    }

    &[color=success]:not([selected]) {
      --cbp-structured-list-color-background: var(--cbp-structured-list-item-color-background-success);
    }

    &[color=info]:not([selected]) {
      --cbp-structured-list-color-background: var(--cbp-structured-list-item-color-background-info);
    }
  
    &[selected] {
      --cbp-structured-list-color-background: var(--cbp-structured-list-item-color-background-selected);
    }
  }
}
