/**
 * @Prop  --cbp-nav-item-color: var(--cbp-color-interactive-secondary-darker);
 * @Prop   --cbp-nav-item-color-dark: var(--cbp-color-interactive-secondary-lighter);

 * @Prop   --cbp-nav-item-color-hover: var(--cbp-color-interactive-secondary-darker);
 * @Prop   --cbp-nav-item-color-hover-dark: var(--cbp-color-interactive-secondary-lighter);

 * @Prop   --cbp-nav-item-color-bg-hover: var(--cbp-color-interactive-secondary-lighter);
 * @Prop   --cbp-nav-item-color-bg-hover-dark: var(--cbp-color-interactive-secondary-darker);
    
 * @Prop   --cbp-nav-item-border-bottom-hover: var(--cbp-color-interactive-secondary-darker);
 * @Prop   --cbp-nav-item-border-bottom-hover-dark: var(--cbp-color-interactive-secondary-lighter);

 */

 :root {
  --cbp-nav-item-color: var(--cbp-color-interactive-secondary-darker);
  --cbp-nav-item-color-dark: var(--cbp-color-interactive-secondary-lighter);

  --cbp-nav-item-color-hover: var(--cbp-color-interactive-secondary-darker);
  --cbp-nav-item-color-hover-dark: var(--cbp-color-interactive-secondary-lighter);

  --cbp-nav-item-color-bg-hover: var(--cbp-color-interactive-secondary-lighter);
  --cbp-nav-item-color-bg-hover-dark: var(--cbp-color-interactive-secondary-darker);
  
  --cbp-nav-item-border-bottom-hover: var(--cbp-color-interactive-secondary-darker);
  --cbp-nav-item-border-bottom-hover-dark: var(--cbp-color-interactive-secondary-lighter);

}

/* 
* Dark Mode - display dark design based on mode or context.
*/

[data-cbp-theme=light] cbp-nav-item[context*=dark]:not(#fakeId),
[data-cbp-theme=dark] cbp-nav-item:not([context=dark-inverts]):not([context=light-always]):not(#fakeId) {

--cbp-nav-item-color: var(--cbp-nav-item-color-dark);
--cbp-nav-item-color-hover: var(--cbp-nav-item-color-hover-dark);

--cbp-nav-item-color-bg-hover: var(--cbp-nav-item-color-bg-hover-dark);

// --cbp-nav-item-border-bottom-hover: var(--cbp-nav-item-border-bottom-hover-dark); //tech debt: cbp-button dark overrides causing issues due to specificity, assigned the nav-item border colors to the --cbp-button-color-border-hover & --cbp-button-color-border-hover-dark seperately to circumvent issue
}


cbp-nav-item {

/* remap cbp-button vars */
cbp-button[fill=ghost][color=secondary] {
  --cbp-button-min-height: 3.5rem; 
  --cbp-button-color: var(-nav-item-color);
  --cbp-button-border-width: 0 0 var(--cbp-border-size-xl) 0;
  --cbp-button-border-radius: var(--cbp-border-radius-sharp);

  font-size: var(--cbp-font-weight-bold);

  button, a{
    text-transform: unset;
  }

  &:hover{
    --cbp-button-color-hover: var(--cbp-nav-item-color-hover);
    --cbp-button-color-bg-hover: var(--cbp-nav-item-color-bg-hover);
    --cbp-button-color-border-hover: var(--cbp-nav-item-border-bottom-hover); 
    --cbp-button-color-border-hover-dark: var(--cbp-nav-item-border-bottom-hover-dark); 
  }
}

//styling for home/application title nav item
&:first-of-type a{
  font-size: var(--cbp-font-size-heading-sm);
  font-weight: var(--cbp-font-weight-bold);
  padding-left: var(--cbp-space-5x);
  padding-right: var(--cbp-space-5x);
  margin-left: calc(-1 * var(--cbp-space-5x));
  letter-spacing: unset;
}
}