@use '../button/states' as *;
@use '../drawer/hamburger' as *;
@use '../../tokens/breakpoints' as *;

@mixin menu-hover {
  color: var(--cbp-color-text-darkest);
  background-color: var(--cbp-color-interactive-neutral-lighter);
  border-style: solid;
  border-color: var(--cbp-color-interactive-neutral-darker);
  border-width: 0 0 var(--cbp-border-size-md) 0;
}

.cbp-application-header {
  display: flex;
  align-items: center;
  height: 56px;
  width: 100%;
  position: sticky;
  top: -1px;
  background-color: var(--cbp-color-white);
  box-shadow: 0px 5px 5px -3px var(--cbp-color-interactive-neutral-dark);
  padding-right: var(--cbp-space-3x);
  z-index: var(--cbp-z-index-level-1);
}

// TODO: Why is this a button (seems like a link) and why is it using flex?
.nav-home {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 var(--cbp-space-4x);
  color: var(--cbp-color-interactive-neutral-darker);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: var(--cbp-font-size-heading-sm);
  font-weight: var(--cbp-font-weight-bold);
  text-align: left;
  white-space: nowrap;

  &:hover {
    @include menu-hover;
  }

  &:focus {
    @include btn-focus;
    border-bottom: 0;
  }
}

.cbp-application-menus {
  height: 100%;
}

.cbp-nav-menu {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
  width: 100%;

  @media (min-width: 768px) {
    justify-content: space-between;
  }
}

.cbp-menu-dropdown {
  @extend .nav-home;
  display: unset;
  font-size: var(--cbp-font-size-heading-xs);
  font-weight: var(--cbp-font-weight-medium);
  padding: 0 var(--cbp-space-3x);

  & > i {
    margin-left: 8px;
  }

  &:hover {
    @include menu-hover;
  }

  &:focus {
    @include btn-focus;
    border-bottom: 0;
  }

  &:active {
    color: var(--cbp-color-interactive-active-dark);
    border-bottom: 2px solid var(--cbp-color-interactive-active-dark);
  }
}

.cbp-hamburger {
  @include hamburger-menu;
}

@media (min-width: $cbp-breakpoint-sm) {
  .cbp-application-header {
    padding-right: var(--cbp-space-5x);
  }
  .nav-home {
    padding-left: var(--cbp-space-5x);
  }
}

@media (min-width: $cbp-breakpoint-xl) {
  .cbp-application-header {
    padding-right: var(--cbp-space-7x);
  }
  .nav-home {
    padding-left: var(--cbp-space-7x);
  }
}