@use '../../base/colors' as *;
@use '../../typography/fonts' as *;
@use '../../grid/breakpoints' as *;
@use '../../tokens/font' as *;

.cbp-universal-header {
  align-items: center;
  background-color: $dhs-blue;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
  top: 0;
  transition: top 500ms ease-in-out;
  width: 100%;
}

.cbp-universal-header__brand {
  align-items: center;
  display: flex;

  &::after {
    @extend .cbp-heading-xl;
    content: "CBP";
    color: $cbp-text-lightest;
    margin-left: 8px;
  }
}

.cbp-universal-header__list {
  display: flex;

  & > li {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }
}

// TODO: Add Secondary Ghost Button Mixin
.cbp-universal-header__item {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  border: 0;
  border-radius: 3px;
  display: flex;
  color: $cbp-ui-neutral-lighter;
  font-size: $cbp-text-button;
  font-weight: 500;
  height: 36px;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 36px;

  & span {
    display: none;
  }

  &:hover {
    background-color: $cbp-ui-neutral-dark;
  }

  &:focus {
    background: $cbp-focus-light;
    color: $cbp-text-darkest;
    font-weight: 700;
    outline: 2px solid $cbp-black;
    outline-offset: -4px;
  
    &:hover {
      background-color: $cbp-focus-light;
      color: $cbp-text-darkest;
    }
  }
}

@media screen and (min-width : 600px) {
  .cbp-universal-header {
    height: 88px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .cbp-universal-header__brand::after {
    content: none;
  }

  .cbp-universal-header__item {
    padding: 0 12px;
    width: unset;

    & > i {
      pointer-events: none;
    }
  }
}

@media only screen and (min-width : 1024px) {
  .cbp-universal-header {
    padding-left: 20px;
    padding-right: 20px;
  }

  .cbp-universal-header__item {
    & > i {
      margin-right: 8px;
    }
    
    & > span {
      display: unset;
    }
  }
}

@include cbp-extra-large-grid {
  .cbp-universal-header {
    padding-left: 28px;
    padding-right: 28px;
  }
}

// TODO: Scroll behavior for universal header not finished
.cbp-universal-header.scroll-up,
.cbp-universal-header:focus-within {
  top: 0;
}

.cbp-universal-header.scroll-down {
  top: -100%;
}
