//@use '../../base/colors' as *;
@use '../../typography/fonts' as *;

.cbp-header {
  align-items: center;
  background-color: var(--cbp-color-branding-dhs-blue);
  box-sizing: border-box;
  display: flex;
  height: 60px;
  top: 0;
  transition: top 500ms ease-in-out;
  width: 100%;
  
  & > div {
    align-items: inherit;
    display: inherit;
    flex-wrap: wrap;
    justify-content: space-between;
    width: inherit;
  }
}

.cbp-header__brand {
  align-items: center;
  display: flex;
  & > img {
    height: 44px;
    width: 44px;
    margin-right: 8px;
  }

  & > span {
    @extend .cbp-heading-xl;
    color: var(--cbp-color-text-lightest);
  }
}

.cbp-header__info {
  display: flex;
}

.cbp-header__item {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  border: 0;
  border-radius: 3px;
  display: flex;
  color: var(--cbp-color-interactive-neutral-lighter);
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  justify-content: center;
  margin-right: 16px;
  text-decoration: none;
  text-transform: uppercase;
  width: 36px;

  &:hover {
    background-color: var(--cbp-color-interactive-neutral-dark);
  }

  &:focus {
    background: var(--cbp-color-interactive-focus-light);
    color: var(--cbp-color-text-darkest);
    font-weight: 700;
    outline: 2px solid var(--cbp-color-black);
    outline-offset: -4px;
  
    &:hover {
      background-color: var(--cbp-color-interactive-focus-light);
      color: var(--cbp-color-text-darkest);
    }
  }
}

.cbp-header__item:last-child {
  margin-right: 0;
} 

// Once media breakpoints are determined, change .dh-lg-sm-none classes in utilities
@media screen and (min-width : 768px) {
  .cbp-header {
    height: 88px;
  }

  .cbp-header__brand {
    & > img {
      height: 55px;
      width: 186px;
    }
  }

  .cbp-header__item {
    padding: 0 12px;
    width: unset;

    & > i {
      margin-right: 8px;
      pointer-events: none;
    }
  }
}

.cbp-header.scroll-up,
.cbp-header:focus-within {
  top: 0;
}

.cbp-header.scroll-down {
  top: -100%;
}
