/**
 * @Prop   --cbp-toggle-background-color: var(--cbp-color-interactive-secondary-light);
 * @Prop   --cbp-toggle-background-color-dark: var(--cbp-color-interactive-secondary-dark);
 * @Prop   --cbp-toggle-circle-color: var(--cbp-color-white);
 * @Prop   --cbp-toggle-circle-color-dark: var(--cbp-color-white);
 * @Prop   --cbp-toggle-circle-border-color: var(--cbp-toggle-circle-color);
 * @Prop   --cbp-toggle-circle-border-color-dark: var(--cbp-toggle-circle-color-dark);
 * @Prop   --cbp-toggle-outline: 2px solid transparent;
 * @Prop   --cbp-toggle-outline-dark: 2px solid transparent;
 * @Prop   --cbp-toggle-background-color-hover: var(--cbp-color-interactive-secondary-dark);
 * @Prop   --cbp-toggle-background-color-hover-dark: var(--cbp-color-interactive-secondary-base);
 * @Prop   --cbp-toggle-circle-selected-color-hover: var(--cbp-color-interactive-selected-dark);
 * @Prop   --cbp-toggle-circle-selected-color-hover-dark: var(--cbp-color-interactive-selected-light);
 * @Prop   --cbp-toggle-circle-selected-border-color-hover: var(--cbp-color-white);
 * @Prop   --cbp-toggle-circle-selected-border-color-hover-dark: var(--cbp-color-interactive-secondary-darker);
 * @Prop   --cbp-toggle-circle-color-hover: var(--cbp-color-interactive-secondary-darker);
 * @Prop   --cbp-toggle-circle-color-hover-dark: var(--cbp-color-interactive-secondary-base);
 * @Prop   --cbp-toggle-circle-border-color-hover: var(--cbp-color-white);
 * @Prop   --cbp-toggle-circle-border-color-hover-dark: var(--cbp-color-white);
 * @Prop   --cbp-toggle-background-color-focus: var(--cbp-color-interactive-focus-dark);
 * @Prop   --cbp-toggle-background-color-focus-dark: var(--cbp-color-interactive-focus-light);
 * @Prop   --cbp-toggle-outline-focus: 2px solid var(--cbp-color-white);
 * @Prop   --cbp-toggle-outline-focus-dark: 2px solid var(--cbp-color-black);
 * @Prop   --cbp-toggle-background-color-disabled: var(--cbp-color-interactive-disabled-dark);
 * @Prop   --cbp-toggle-background-color-disabled-dark: var(--cbp-color-interactive-disabled-light);
 * @Prop   --cbp-toggle-circle-color-disabled: var(--cbp-color-interactive-disabled-light);
 * @Prop   --cbp-toggle-circle-color-disabled-dark: var(--cbp-color-interactive-disabled-dark);
 * @Prop   --cbp-toggle-circle-border-color-disabled: var(--cbp-color-interactive-disabled-light);
 * @Prop   --cbp-toggle-circle-border-color-disabled-dark: var(--cbp-color-interactive-disabled-dark);
 * @Prop   --cbp-slider-width: 3.25rem;
 * @Prop   --cbp-slider-height: 1.75rem;
 * @Prop   --cbp-circle-diameter: 1rem;
 * @Prop   --cbp-circle-inset: 0.375rem;
 * @Prop   --cbp-circle-border-width: 0.25rem;
 * @Prop   --cbp-toggle-gap: 1rem;  
 * @Prop   --cbp-toggle-margin: 0 0 var(--cbp-space-4x) 0;  

 */

:root{ 
  --cbp-toggle-background-color: var(--cbp-color-interactive-secondary-light);
  --cbp-toggle-background-color-dark: var(--cbp-color-interactive-secondary-dark);
  --cbp-toggle-circle-color: var(--cbp-color-white);
  --cbp-toggle-circle-color-dark: var(--cbp-color-white);
  --cbp-toggle-circle-border-color: var(--cbp-toggle-circle-color);
  --cbp-toggle-circle-border-color-dark: var(--cbp-toggle-circle-color-dark);
  --cbp-toggle-outline: 2px solid transparent;
  --cbp-toggle-outline-dark: 2px solid transparent;

  /** Hover */
  --cbp-toggle-background-color-hover: var(--cbp-color-interactive-secondary-dark);
  --cbp-toggle-background-color-hover-dark: var(--cbp-color-interactive-secondary-base);
  
  --cbp-toggle-circle-selected-color-hover: var(--cbp-color-interactive-selected-dark);
  --cbp-toggle-circle-selected-color-hover-dark: var(--cbp-color-interactive-selected-light);
  --cbp-toggle-circle-selected-border-color-hover: var(--cbp-color-white);
  --cbp-toggle-circle-selected-border-color-hover-dark: var(--cbp-color-interactive-secondary-darker);

  --cbp-toggle-circle-color-hover: var(--cbp-color-interactive-secondary-darker);
  --cbp-toggle-circle-color-hover-dark: var(--cbp-color-interactive-secondary-base);
  --cbp-toggle-circle-border-color-hover: var(--cbp-color-white);
  --cbp-toggle-circle-border-color-hover-dark: var(--cbp-color-white);

  /** Focus */
  --cbp-toggle-background-color-focus: var(--cbp-color-interactive-focus-dark);
  --cbp-toggle-background-color-focus-dark: var(--cbp-color-interactive-focus-light);
  --cbp-toggle-outline-focus: 2px solid var(--cbp-color-white);
  --cbp-toggle-outline-focus-dark: 2px solid var(--cbp-color-black);

  /** Disabled */
  --cbp-toggle-background-color-disabled: var(--cbp-color-interactive-disabled-dark);
  --cbp-toggle-background-color-disabled-dark: var(--cbp-color-interactive-disabled-light);
  --cbp-toggle-circle-color-disabled: var(--cbp-color-interactive-disabled-light);
  --cbp-toggle-circle-color-disabled-dark: var(--cbp-color-interactive-disabled-dark);
  --cbp-toggle-circle-border-color-disabled: var(--cbp-color-interactive-disabled-light);
  --cbp-toggle-circle-border-color-disabled-dark: var(--cbp-color-interactive-disabled-dark);

  --cbp-toggle-text-color: var(--cbp-color-text-darkest);
  --cbp-toggle-text-color-dark: var(--cbp-color-text-lightest);

  --cbp-slider-width: 3.25rem;
  --cbp-slider-height: 1.75rem;
  --cbp-circle-diameter: 1rem;
  --cbp-circle-inset: 0.375rem;
  --cbp-circle-border-width: 0.25rem;
  --cbp-status-text-width: var(--cbp-space-16x);

  --cbp-toggle-gap: var(--cbp-space-4x);
  --cbp-toggle-margin: 0 0 var(--cbp-space-4x) 0;  
}

[data-cbp-theme=light] cbp-toggle[context*=dark]:not([context=light-always]),
[data-cbp-theme=dark] cbp-toggle:not([context=dark-inverts]):not([context=light-always]) {

  --cbp-toggle-background-color: var(--cbp-toggle-background-color-dark);
  --cbp-toggle-circle-color: var(--cbp-toggle-circle-color-dark);
  --cbp-toggle-circle-border-color: var(--cbp-toggle-circle-border-color-dark);
  --cbp-toggle-outline: var(--cbp-toggle-outline-dark);

  --cbp-toggle-background-color-hover: var(--cbp-toggle-background-color-hover-dark);
  --cbp-toggle-circle-selected-color-hover: var(--cbp-toggle-circle-selected-color-hover-dark);
  --cbp-toggle-circle-selected-border-color-hover: var(--cbp-toggle-circle-selected-border-color-hover-dark);
  --cbp-toggle-circle-color-hover: var(--cbp-toggle-circle-color-hover-dark);
  --cbp-toggle-circle-border-color-hover: var(--cbp-toggle-circle-border-color-hover-dark);

  --cbp-toggle-background-color-focus: var(--cbp-toggle-background-color-focus-dark);
  --cbp-toggle-outline-focus: var(--cbp-toggle-outline-focus-dark);

  --cbp-toggle-background-color-disabled: var(--cbp-toggle-background-color-disabled-dark);
  --cbp-toggle-circle-color-disabled: var(--cbp-toggle-circle-color-disabled-dark);
  --cbp-toggle-circle-border-color-disabled: var(--cbp-toggle-circle-border-color-disabled-dark);
  
  --cbp-toggle-text-color: var(--cbp-toggle-text-color-dark);
}

cbp-toggle {
  display: flex;
  align-items: center;
  gap: var(--cbp-toggle-gap);
  margin: var(--cbp-toggle-margin);
  color: var(--cbp-toggle-text-color);

  input[type='checkbox']{
    appearance: none;
    height: var(--cbp-slider-height);
    min-width: var(--cbp-slider-width);
    flex-basis: var(--cbp-slider-width);
    border-radius: var(--cbp-border-radius-pill);
    background-color: var(--cbp-toggle-background-color);
    outline: var(--cbp-toggle-outline);
    outline-offset: calc( -1 * var(--cbp-space-1x));

    &:before{
      content: "";
      display: block;
      margin-top: var(--cbp-circle-inset);
      border-radius: var(--cbp-border-radius-circle);
      height: var(--cbp-circle-diameter);
      width: var(--cbp-circle-diameter);
      background-color: var(--cbp-toggle-circle-color);
      border: var(--cbp-circle-border-width) solid var(--cbp-toggle-circle-border-color);
    }
  }

  span:last-child{
    flex-basis: var(--cbp-status-text-width);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  /** 'On' States */
  &[checked] {
    --cbp-toggle-background-color: var(--cbp-color-interactive-selected-dark);
    --cbp-toggle-background-color-dark: var(--cbp-color-interactive-selected-light);
    --cbp-toggle-circle-color: var(--cbp-color-white);
    --cbp-toggle-circle-color-dark: var(--cbp-color-interactive-secondary-darker);
    --cbp-toggle-circle-border-color-dark: var(--cbp-color-interactive-secondary-darker);

    & input[type='checkbox']:before{
      margin-left: calc(var(--cbp-slider-width) - var(--cbp-circle-diameter) - var(--cbp-circle-inset));
    }

    &:hover:not([disabled]){
      --cbp-toggle-circle-color: var(--cbp-toggle-circle-selected-color-hover);
      --cbp-toggle-circle-border-color: var(--cbp-toggle-circle-border-color-hover);
      
      --cbp-toggle-circle-color-dark: var(--cbp-toggle-circle-selected-color-hover-dark);
      --cbp-toggle-circle-border-color-dark: var(--cbp-toggle-circle-selected-border-color-hover-dark);
    }

    &:focus:not([disabled]) {
      --cbp-toggle-background-color: var(--cbp-toggle-background-color-focus);
      --cbp-toggle-outline: var(--cbp-toggle-outline-focus);

      --cbp-toggle-background-color-dark: var(--cbp-toggle-background-color-focus-dark);
      --cbp-toggle-outline-dark: var(--cbp-toggle-outline-focus-dark);
    }
  }

  /** 'Off' States */
  &:not([checked]) {

    & input[type='checkbox']:before{
      margin-left: var(--cbp-circle-inset);
    }

    &:hover:not([disabled]) {
      --cbp-toggle-background-color: var(--cbp-toggle-background-color-hover);
      --cbp-toggle-circle-color: var(--cbp-toggle-circle-color-hover);
      --cbp-toggle-circle-border-color: var(--cbp-toggle-circle-border-color-hover);
      
      --cbp-toggle-background-color-dark: var(--cbp-toggle-background-color-hover-dark);
      --cbp-toggle-circle-color-dark: var(--cbp-toggle-circle-color-hover-dark);
      --cbp-toggle-circle-border-color-dark: var(--cbp-toggle-circle-border-color-hover-dark);
    }
    
    &:focus:not([disabled]) {
      --cbp-toggle-background-color: var(--cbp-toggle-background-color-focus);
      --cbp-toggle-outline: var(--cbp-toggle-outline-focus);
    
      --cbp-toggle-background-color-dark: var(--cbp-toggle-background-color-focus-dark);
      --cbp-toggle-outline-dark: var(--cbp-toggle-outline-focus-dark);
      --cbp-toggle-circle-color-dark: var(--cbp-color-interactive-secondary-darker);
      --cbp-toggle-circle-border-color-dark: var(--cbp-color-interactive-secondary-darker);;
    }
  }

  /** Disabled*/
  &[disabled]{
    --cbp-toggle-background-color: var(--cbp-toggle-background-color-disabled);
    --cbp-toggle-background-color-dark: var(--cbp-toggle-background-color-disabled-dark);
    --cbp-toggle-circle-color: var(--cbp-toggle-circle-color-disabled);
    --cbp-toggle-circle-color-dark: var(--cbp-toggle-circle-color-disabled-dark);
    --cbp-toggle-circle-border-color: var(--cbp-toggle-circle-border-color-disabled);
    --cbp-toggle-circle-border-color-dark: var(--cbp-toggle-circle-border-color-disabled-dark);
  }

  // override a browser default
  &:focus-visible{
    outline: none;
  }
}
