.cbp-expand {
  width: 100%;
}

.cbp-expand__title {
  display: flex;
  align-items: center;

  &:hover > button {
    background-color: var(--cbp-color-interactive-neutral-darker);

    & > i {
      color: var(--cbp-color-white);
    }
  }

  & > button {
    background-color: transparent;
    border: 0;
    border-radius: var(--cbp-border-radius-soft);
    height: 1rem;
    justify-content: center;
    margin-right: var(--cbp-space-2x);
    padding: 0;
    width: 1rem;

    // Focus states for expand button 
    &:focus {
      background-color: var(--cbp-color-interactive-focus-dark);
      outline: none;
    }

    & > i {
      font-size: var(--cbp-font-size-heading-xs);
      color: var(--cbp-color-interactive-neutral-darker);
      transform: rotate(0);
      transition: transform 0.2s ease-in-out;
    }

    &:focus > i {
      color: var(--cbp-color-white);
    }
  }

  & > span {
    font-size: var(--cbp-font-size-heading-sm);
    font-weight: var(--cbp-font-weight-medium);
    line-height: var(--cbp-line-height-xs);
    color: var(--cbp-color-text-darker);
  }
}

.cbp-expand__content {
  display: none;
  max-height: 0;
  overflow: hidden;
}

// Active state for expand
.active .cbp-expand__title {
  & > button > i {
    transform: rotate(-180deg);
    transition: transform 0.2s ease-in-out;
  }
}

.active .cbp-expand__content {
  display: block;
  max-height: fit-content;
  padding-top: 12px;
  padding-left: 24px;
}