.cbp-expand {
  max-width: 100%;
}

.cbp-expand__title {
  display: flex;
  align-items: center;
  width: fit-content;

  &:hover > button {
    background-color: var(--cbp-color-interactive-neutral-darker);

    & > i {
      color: var(--cbp-color-white);
    }
  }

  & > button {
    background-color: transparent;
    border: 0;
    border-radius: var(--cbp-border-radius-soft);
    padding: 0 0.227rem;

    // Focus states for expand button 
    &:focus {
      background-color: var(--cbp-color-interactive-focus-dark);
      outline: none;
    }

    & > i {
      color: var(--cbp-color-interactive-neutral-darker);
      transform: rotate(0);
      transition: transform 0.2s ease-in-out;
    }

    &:focus > i {
      color: var(--cbp-color-white);
    }
  }

  & > span {
    color: var(--cbp-color-text-darker);
    font-size: var(--cbp-font-size-heading-sm);
    font-weight: var(--cbp-font-weight-medium);
    line-height: var(--cbp-line-height-xs);
    margin-left: var(--cbp-space-2x);
  }
}

.cbp-expand__content {
  display: none;
  overflow: hidden;
}

// Active state for expand
.cbp-expand.active .cbp-expand__title {
  & > button > i {
    transform: rotate(-180deg);
    transition: transform 0.2s ease-in-out;
  }
}

.cbp-expand.active .cbp-expand__content {
  display: block;
  max-height: fit-content;
  padding-top: var(--cbp-space-3x);
  padding-left: var(--cbp-space-6x);
}