.cbp-card__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.cbp-card__title {
  color: var(--cbp-color-text-darker);
  font-weight: var(--cbp-font-weight-medium);
  font-size: var(--cbp-font-size-heading-lg);
  line-height: var(--cbp-line-height-sm);
}

.cbp-card__header--flag {
  background-color: var(--cbp-color-interactive-neutral-base);
  padding: var(--cbp-space-4x) var(--cbp-space-4x) var(--cbp-space-5x) var(--cbp-space-4x);

  & > .cbp-card__title {
    color: var(--cbp-color-text-lightest);
  }

  & > .cbp-form__radio, 
  & > .cbp-form__checkbox {
    border: 2px solid var(--cbp-color-base-neutral-lighter);
    background-color: var(--cbp-color-base-neutral-dark);
  }
}
