@use './mixins' as *;

// utility class
.cbp-d-block {
  display: block !important;
}

.cbp-font-size-large {
  font-size: var(--cbp-font-size-heading-lg);
}

.cbp-card {
  background-color: var(--cbp-color-white);
  border: 2px solid var(--cbp-color-base-neutral-lighter);
  border-radius: 5px;
  display: flex;
  width: fit-content;
}

.cbp-card__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0;

  & > i {
    font-size: var(--cbp-font-size-heading-lg);
  }
}

.cbp-card__media {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.cbp-card__title {
  color: var(--cbp-color-text-darker);
  font-weight: var(--cbp-font-weight-medium);
  font-size: var(--cbp-font-size-heading-lg);
  line-height: var(--cbp-line-height-sm);
  letter-spacing: 0.12px;

  & > i {
    margin-right: var(--cbp-space-2x);
  }
}

.cbp-card__header--flag {
  background-color: var(--cbp-color-interactive-neutral-base);
  padding: var(--cbp-space-4x) var(--cbp-space-4x) var(--cbp-space-5x) var(--cbp-space-4x);

  & > h4 {
    color: var(--cbp-color-text-lightest);
  }

  & > .cbp-form__radio, 
  & > .cbp-form__checkbox {
    border: 2px solid var(--cbp-color-base-neutral-lighter);
    background-color: var(--cbp-color-base-neutral-dark);
  }
}

.cbp-card__content {
  padding: var(--cbp-space-5x) var(--cbp-space-4x);
  width: 100%;
}

.cbp-card--small {
  max-width: 312px;
}

.cbp-card--info {
  @include card-general-modifier(var(--cbp-color-info-lighter), var(--cbp-color-info-light), var(--cbp-color-info-darker));
}

.cbp-card--success {
  @include card-general-modifier(var(--cbp-color-success-lighter), var(--cbp-color-success-light), var(--cbp-color-success-darker));
}

.cbp-card--danger {
  @include card-general-modifier(var(--cbp-color-danger-lighter), var(--cbp-color-danger-light), var(--cbp-color-danger-darker));
}