@use './mixins' as *;

[data-component="radio-card"],
[data-component="checkbox-card"] {
  cursor: pointer;

  & label {
    cursor: inherit;
  }

  & input[type=radio],
  & input[type=checkbox] {
    cursor: inherit;
  }
}

[data-component="radio-card"]:hover,
[data-component="checkbox-card"]:hover { 
  background-color: var(--cbp-color-base-neutral-lightest);
  border: 2px solid var(--cbp-color-base-neutral-dark);
  
  & input[type=radio],
  & input[type=checkbox] {
    box-shadow: none;
  }

  & .cbp-card__header--flag {
    background-color: var(--cbp-color-interactive-neutral-darker);
  }

  & .cbp-card__header--flag input[type=radio],
  & .cbp-card__header--flag input[type=checkbox] {
    border: 2px solid var(--cbp-color-base-neutral-lighter);
    background-color: var(--cbp-color-base-neutral-dark);
  }
}

[data-component="radio-card"]:focus-within,
[data-component="checkbox-card"]:focus-within {
  border: 2px solid var(--cbp-color-interactive-focus-light);
  background-color: var(--cbp-color-interactive-focus-dark);

  & .cbp-card__title {
    color: var(--cbp-color-text-lightest);
  }

  & input[type=radio]:checked,
  & input[type=checkbox]:checked {
    box-shadow: none;
  }

  & input[type=radio]:not(:checked),
  & input[type=checkbox]:not(:checked) {
    background-color: var(--cbp-color-base-neutral-dark);
    border: 2px solid var(--cbp-color-white);
    box-shadow: none;
  }
}

// Does not work in Firefox
[data-component="radio-card"]:has(input[type=radio]:checked:not(:focus-within)),
[data-component="checkbox-card"]:has(input[type=checkbox]:checked:not(:focus-within)) {
  background-color: var(--cbp-color-interactive-selected-light);
  border: 2px solid var(--cbp-color-interactive-selected-dark);

  & input[type=radio]:checked{
    background-color: var(--cbp-color-white);
  }

  & input[type=checkbox]:checked {
    background-color: var(--cbp-color-interactive-selected-dark);
  }
}

.cbp-card--danger[data-component="radio-card"],
.cbp-card--danger[data-component="checkbox-card"] {
  background-color: var(--cbp-color-danger-lighter);
  border: 2px solid var(--cbp-color-danger-light);

  .cbp-card__title {
    color: var(--cbp-color-danger-dark);
  }

  &:hover {
    background-color: var(--cbp-color-danger-light);
    border: 2px solid var(--cbp-color-danger-darker);

    & .cbp-card__title {
      color: var(--cbp-color-text-darkest);
    }
  }
}

.cbp-card--danger[data-component="radio-card"]:focus-within,
.cbp-card--danger[data-component="checkbox-card"]:focus-within {
  border: 2px solid var(--cbp-color-interactive-focus-light);
  background-color: var(--cbp-color-interactive-focus-dark);

  .cbp-card__title {
    color: var(--cbp-color-text-lightest);
  }
}

// :has not supported in Firefox 
.cbp-card--danger[data-component="radio-card"]:has(input[type=radio]:checked:not(:focus-within)),
.cbp-card--danger[data-component="checkbox-card"]:has(input[type=checkbox]:checked:not(:focus-within)) {
  .cbp-card__title {
    color: var(--cbp-color-base-neutral-dark);
  }
}