@use '../button/index' as *;

.cbp-card-decision {
  min-width: 312px;
}

.cbp-card-decision__content {
  background-color: var(--cbp-color-white);
  border: 2px solid var(--cbp-color-base-neutral-lighter);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 0;
  padding: var(--cbp-space-5x) var(--cbp-space-4x) var(--cbp-space-4x) var(--cbp-space-4x);
}

.cbp-card-decision__actions {
  display: flex;

  & > button,
  & > a[href] {
    @extend .cbp-btn;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 44px;
    text-decoration: none;
    width: 100%;

    & > i {
      margin-right: 8px;
    }
  }

  & > button:only-child,
  & > a[href]:only-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &--double {
    & > button:first-child,
    & > a[href]:first-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 0;
    }

    & > button:nth-child(2),
    & > a[href]:nth-child(2) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 5px;
    }
  }

  &--triple {
    & > button:first-child,
    & > a[href]:first-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 0px;
    }

    & > button:nth-child(2),
    & > a[href]:nth-child(2) {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    & > button:last-child,
    & > a[href]:last-child {
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 0px;
    }
  }
}

/* DANGER */
.cbp-card-decision--danger {
  & .cbp-card__title {
    color: var(--cbp-color-danger-base);
  }

  & .cbp-card-decision__content {
    background-color: var(--cbp-color-danger-lighter);
    border: 2px solid var(--cbp-color-danger-base);
    border-bottom: 0;
  }

  & .cbp-card__header--flag {
    background-color: var(--cbp-color-danger-base) !important;

    & > .cbp-card__title {
      color: var(--cbp-color-text-lightest);
    }
  }
}

[data-cbp-theme="dark"] {
  .cbp-card-decision__content {
    background-color: var(--cbp-color-base-neutral-dark);
    border: 2px solid var(--cbp-color-base-neutral-base);
    border-bottom: 0;
  }

  .cbp-card__title {
    color: var(--cbp-color-text-lightest);
  }
}