@use '../../base/colors' as *;
@use '../button/states' as *;

@mixin hamburger-menu {
  background-color: transparent;
  border: 2px solid $cbp-ui-neutral-darker;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  height: 36px;
  width: 36px;

  & > i {
    color: $cbp-ui-neutral-darker;
  }

  &:hover {
    background-color: $cbp-ui-neutral-darker;

    & > i {
      color: $cbp-text-lightest;
    }
  }

  &:focus {
    @include btn-focus;
    border: 0;
  }
}
