@use "sass:map";

//@use '../../base/colors' as *;

$drawer-sizes: (
  "small": (
    "width": 100%
  ),
  "rest": (
    "width": 400px
  )
);



@mixin drawer-left {
  [data-drawer-align='left'] {
    top: 0;
    left: -100%;

    &.active {
      box-shadow: 5px 0px 25px 5px rgba(0, 0, 0, 0.5);
      left: 0;
    }

    .cbp-drawer__header {
      padding-left: 20px;
      padding-right: 20px;
    }

    .cbp-drawer__content {
      padding-top: 16px;
      padding-left: 20px;
      padding-right: 20px;
    }

    @media only screen and (min-width : 600px) {
      .cbp-drawer__header {
        padding-left: 44px;
        padding-right: 20px;
      }
  
      .cbp-drawer__content {
        padding-top: 16px;
        padding-left: 44px;
        padding-right: 20px;
      }
    }

  }
}

@mixin drawer-right {
  [data-drawer-align='right'] {
    top: 0;
    right: -100%;

    &.active {
      box-shadow: 5px 0px 25px 5px rgba(0, 0, 0, 0.5);
      right: 0;
      left: unset;
    }

    .cbp-drawer__header {
      padding-left: 20px;
      padding-right: 44px;
    }

    .cbp-drawer__content {
      padding-top: 16px;
      padding-right: 44px;
      padding-left: 20px;
    }
  }
}

/* Potential DRY */
@mixin drawer-close-btn {
  align-items: center;
  background-color: transparent;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  display: flex;
  height: 36px;
  justify-content: center;
  width: 36px;

  & > i {
    color: var(--cbp-color-interactive-neutral-lighter);
    font-size: 14px;
  }

  &:hover {
    background-color: var(--cbp-color-interactive-neutral-dark);

    & > i {
      color: var(--cbp-color-text-lightest);
    }
  }

  &:focus {
    background-color: var(--cbp-color-interactive-focus-light);
    outline: 2px solid var(--cbp-color-black);
    outline-offset: -4px;

    & > i {
      color: var(--cbp-color-text-darkest);
    }
  }

  &:active {
    cursor: grabbing;
  }
}

@mixin drawer-nav-btn($font-size, $pad-left) {
  align-items: center;
  background-color: transparent;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid var(--cbp-color-base-neutral-light);
  color: var(--cbp-color-interactive-neutral-darker);
  display: flex;
  cursor: pointer;
  font-size: $font-size;
  font-weight: 500;
  height: 56px;
  justify-content: space-between;
  padding-left: $pad-left;
  text-align: left;
  width: 100%;

  & > i {
    @include nav-caret;
  }
  
  &:hover {
    background-color: var(--cbp-color-interactive-neutral-lighter);
    border-left: 4px solid var(--cbp-color-interactive-neutral-darker);
    color: var(--cbp-color-text-darkest);

    & > span {
      color: var(--cbp-color-text-darkest);
      font-weight: 700;
    }
  }

  &:active {
    background-color: var(--cbp-color-interactive-active-light);
    border-left: 4px solid var(--cbp-color-interactive-active-dark);
    color: var(--cbp-color-interactive-active-dark);
    font-style: italic;

    &:hover {
      color: var(--cbp-color-interactive-active-dark);
    }

    &:focus {
      color: var(--cbp-color-text-lightest);
      border-left: unset;
    }
  }

  &:focus {
    background-color: var(--cbp-color-interactive-focus-dark);
    color: var(--cbp-color-text-lightest);
    outline: 2px solid var(--cbp-color-white);
    outline-offset: -4px;

    & > span {
      color: var(--cbp-color-text-lightest);
      font-weight: 700;
    }

    &:hover {
      border-left: 0;
    }
  }
}

@mixin nav-caret {
  align-items: center;
  display: flex;
  height: 36px;
  justify-content: center;
  width: 36px;
}