/**
 * @prop --cbp-menu-color-bg: var(--cbp-color-gray-cool-80);
 * @prop --cbp-menu-color-bg-dark: var(--cbp-color-gray-cool-5);
 * @prop --cbp-menu-gap: var(--cbp-space-3x);
 */
:root {
  --cbp-menu-color-bg: var(--cbp-color-gray-cool-80);
  --cbp-menu-color-bg-dark: var(--cbp-color-gray-cool-5);

  --cbp-menu-gap: var(--cbp-space-3x);
}

// Displays dark design based on mode or context
[data-cbp-theme=light] cbp-menu[context*=dark],
[data-cbp-theme=dark] cbp-menu:not([context=dark-inverts]):not([context=light-always]) {
  --cbp-menu-color-bg: var(--cbp-menu-color-bg-dark) !important;
}


cbp-menu {
  display: inline-block;
  max-width: 100%;

  /* The actual menu, positioned for mobile-first */
  .cbp-menu__menu {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: max-content;
    padding: 0;
    background: var(--cbp-menu-color-bg);
    border-radius: var(--cbp-border-radius-softer);
    box-shadow: var(--cbp-shadow-level-1-down);
    z-index: var(--cbp-z-index-level-1); // TechDebt: revisit - this likely needs to be higher as it should overlay anything on the content-level including sticky items
  }
}