// Badges
.cbp-badge {
  display: inline-block;
  width: var(--cbp-space-6x);
  height: var(--cbp-space-6x);
  color: var(--cbp-color-text-lightest);
  background-color: var(--cbp-color-info-base);
  border-radius: var(--cbp-border-radius-pill);
  cursor: default;
  font-size: .625rem;
  text-align: center;
  line-height: var(--cbp-space-6x);

  &--danger {
    background-color: var(--cbp-color-danger-base);
  }
}

// Tags (info is the default)
.cbp-tag {
  display: inline-block;
  color: var(--cbp-color-info-lighter);
  background-color: var(--cbp-color-info-dark);
  border-radius: var(--cbp-border-radius-pill);
  cursor: default;
  padding: 0 var(--cbp-space-3x);
  text-align: center;
  line-height: var(--cbp-space-7x);

  & > i::after {
    content: '\a0\a0';
  }

  &--warning {
    color: var(--cbp-color-text-darker);
    background-color: var(--cbp-color-warning-base);
  }

  &--success {
    color: var(--cbp-color-success-lighter);
    background-color: var(--cbp-color-success-dark);
  }

  &--danger {
    color: var(--cbp-color-text-lightest);
    background-color: var(--cbp-color-danger-dark);
  }
}

// Chips
.cbp-chip {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0 0 0 var(--cbp-space-3x);
  color: var(--cbp-color-text-lightest);
  background-color: var(--cbp-color-interactive-neutral-base); // --cbp-color-interactive-secondary-dark does not exist
  border-width: 0;
  border-radius: var(--cbp-border-radius-pill);
  text-transform: uppercase;
  line-height: var(--cbp-space-7x);
  
  & > .cbp-chip__label + .cbp-chip__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--cbp-space-7x);
    min-height: var(--cbp-space-7x);
    border-width: 0;
    border-radius: var(--cbp-border-radius-pill);
    margin-left: 4px;
    transition: var(--cbp-motion-duration-shortest);
  }
  
  // Selected
  &[aria-pressed=true] {
    background-color: var(--cbp-color-interactive-selected-dark);
  
    & > .cbp-chip__label + .cbp-chip__icon {
      transform: rotate(-135deg);
    }

  }

  &:hover {
    cursor: pointer;

    > .cbp-chip__label + .cbp-chip__icon {
      background-color: #454540; // ToDo
    }
  }

  &:focus-visible {
    background-color: var(--cbp-color-interactive-focus-dark);
    outline: 0;

    > .cbp-chip__label + .cbp-chip__icon {
      background-color: transparent;
      border-color: var(--cbp-color-white);
      outline: var(--cbp-border-size-md) solid var(--cbp-color-white);
      outline-offset: -4px;
    }
  }
}

