@use 'link';

.cbp-breadcrumb {
  align-items: center;
  display: flex;
  list-style-type: none;
  margin-top: var(--cbp-space-2x);
  margin-bottom: var(--cbp-space-2x);
  padding-left: 0;
}

.cbp-breadcrumb__item {
  margin-bottom: 0;

  & a {
    @extend .cbp-link;
  }

  &::after {
    color: var(--cbp-color-text-darker);
    content: '/';
    font-style: italic;
    margin-left: var(--cbp-space-2x);
    margin-right: var(--cbp-space-2x);
  }
  
  /* First item in breadcrumb has ghost button styling */
  &:first-child {
    align-items: center;
    display: inherit;
  }

  &:last-child::after {
    content: '';
  }
}