.cbp-modal,
dialog,
[role='dialog'] {
  background-color: var(--cbp-color-white);
  border-radius: var(--cbp-border-radius-softest);
  border-width: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 21rem;
  padding: 0;

  & > hr {
    border: var(--cbp-border-size-sm) solid var(--cbp-color-base-neutral-light);
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.cbp-modal__title {
  color: var(--cbp-color-text-darker);
  font-size: var(--cbp-font-size-heading-md);
  font-weight: var(--cbp-font-weight-medium);
  line-height: var(--cbp-line-height-md);

  & i {
    font-size: var(--cbp-font-size-heading-md);
    margin-inline-end: var(--cbp-space-4x);
  }

  &--danger {
    color: var(--cbp-color-danger-base);
  }
}

.cbp-modal__content {
  padding: var(--cbp-space-4x) var(--cbp-space-4x) var(--cbp-space-5x) var(--cbp-space-4x);
}

.cbp-modal__controls {
  display: flex;

  & button {
    border-radius: 0;
    flex-grow: 1;
    
    &:first-child {
      border-bottom-left-radius: var(--cbp-border-radius-softest);
    }

    &:last-child {
      border-bottom-right-radius: var(--cbp-border-radius-softest);
    }
  }
}
