@use './button/base';
@use './button/secondary';
@use './select';

.cbp-pagination {
  display: flex;

  // TODO: DRY with <select> scss
  & select {
    @extend .cbp-input__select;
    background-image: url('/assets/images/caret-up-gray-90.svg');
    background-size: var(--cbp-space-4x) var(--cbp-space-4x);
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    min-width: 13rem;
  }

  & .cbp-pagination__prev,
  & .cbp-pagination__next {
    @extend .cbp-btn-square; 
    @extend .cbp-btn__secondary;
  }

  & .cbp-pagination__prev {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  & .cbp-pagination__next {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

