.cbp-structured-list__header {
  align-items: center;
  background-color: var(--cbp-color-gray-cool-30);
  color: var(--cbp-color-text-darkest);
  display: flex;
  font-style: italic;
  font-size: var(--cbp-font-size-body);
  font-weight: var(--cbp-font-weight-bold);
  min-height: var(--cbp-space-13x);
  padding: 0 var(--cbp-space-3x);
}

.cbp-structured-list {
  list-style-type: none;
  padding-left: 0;
}

.cbp-structured-list__item {
  border-bottom-width: var(--cbp-border-size-md);
  border-bottom-style: solid;
  border-bottom-color: var(--cbp-color-gray-cool-30);
  padding: var(--cbp-space-4x);
}

.cbp-structured-list--striped .cbp-structured-list__item:nth-of-type(even) {
  background-color: var(--cbp-color-gray-cool-10);
}