//@use '../../base/colors' as *;
@use '../../grid/breakpoints' as *;

@forward 'links';
@forward 'info';

.cbp-footer__supplement {
  font-style: italic;
  line-height: 2;
  margin-bottom: 16px;
}

.cbp-footer__sec {
  align-items: center;
  display: flex;
  margin-bottom: 12px;

  & > img {
    margin-right: 20px;
  }

  & > div > * {
    margin-bottom: 4px;
  }
  
  & > div > h6 {
    color: var(--cbp-color-text-lighter);
    font-size: 20px;
    font-weight: 500;
  }

  & > div > p, a {
    display: none;
  }

  & > div > p {
    line-height: 1.45;
  }
}

.cbp-contact-list {
  color: var(--cbp-color-text-lightest);
  font-size: 14px;
  margin-bottom: 24px;
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & > li span {
    font-weight: 700;
  }
}

@include cbp-medium-grid {
  .cbp-footer__sec {
    align-items: start;
  }

  .cbp-footer__sec > div {
    & > p, a {
      display: initial;
    }
  }

  .cbp-contact-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;

    li {
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (min-width : 1024px) {
  .cbp-footer__sec {
    align-items: start;
  }

  .cbp-footer__sec > div {
    & > p, a {
      display: initial;
    }
  }

  .cbp-contact-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;

    & > li {
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }
    }
  }  
}
