@use '../../base/colors' as *;
@use '../link' as *;

.cbp-footer__info {
  background-color: $cbp-base-secondary-darker;
  color: $cbp-text-lightest;
  padding: 16px 20px;
  letter-spacing: 0.35px;
}

.cbp-footer__info h6 {
  color: $cbp-text-lightest;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.cbp-footer__info p {
  color: $cbp-text-lightest;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.45;
}

.cbp-footer__info a {
  @extend .cbp-link__inline;
}

@media only screen and (min-width : 600px) and (max-width : 1023px) {
  .cbp-footer__info {
    & > p,
    & > a {
      display: none;
    }
  }
}

@media only screen and (min-width : 1024px) {
  .cbp-footer__info {
    display: flex;

    & > div {
      width: 50%;
    }

    & > p,
    & > a {
      display: none;
    }
  }
}