@use '../../tokens/breakpoints' as *;

// Styling for Link pattern (Dark)
@mixin footer-links {
  color: var(--cbp-color-interactive-primary-light);

  & > i {
    margin-right: var(--cbp-space-2x);
  }

  &:hover {
    color: var(--cbp-color-interactive-primary-base);
  }

  &:focus {
    color: var(--cbp-color-interactive-focus-light) !important;
    outline: var(--cbp-border-size-md) solid var(--cbp-color-interactive-focus-light);
    outline-offset: var(--cbp-border-size-md);
  }

  &:visited {
    color: var(--cbp-color-interactive-visited-light);
  }
}

@mixin footer-nav-bar {
  background-color: var(--cbp-color-base-secondary-dark);
  margin: 0;
  list-style: none;

  & a[href] {
    color: var(--cbp-color-interactive-neutral-lighter);
    display: inline-block;

    &:hover {
      background-color: var(--cbp-color-interactive-neutral-darker);
      color: var(--cbp-color-text-lightest);
    }

    &:focus {
      background-color: var(--cbp-color-interactive-focus-light);
      color: var(--cbp-color-text-darkest);
      outline: var(--cbp-border-size-md) solid var(--cbp-color-black);
      outline-offset: calc(-1 * var(--cbp-border-size-xl));
    }
  }
}

.cbp-footer > nav > ul {
  @include footer-nav-bar;
  padding: 0;

  a[href] {
    font-weight: var(--cbp-font-weight-medium);
    padding: var(--cbp-font-size-button) 0 var(--cbp-font-size-button) var(--cbp-space-5x); // no spacing token for 0.875 height of button = 44px
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;

    &:hover,
    &:focus {
      font-weight: var(--cbp-font-weight-bold);
    }
  }
}

.cbp-footer__heading {
  color: var(--cbp-color-text-lighter);
  font-size: var(--cbp-font-size-heading-md);
  font-weight: var(--cbp-font-weight-medium);
}

.cbp-footer__text {
  color: var(--cbp-color-text-lightest);
  font-size: var(--cbp-font-size-body);
  font-weight: var(--cbp-font-weight-regular);
  line-height: var(--cbp-line-height-xs);
}

.cbp-footer__info {
  display: flex;
  flex-direction: column;
  gap: var(--cbp-space-6x);
  background-color: var(--cbp-color-base-secondary-darker);
  padding: var(--cbp-space-4x) var(--cbp-space-5x);
}

.cbp-footer__support {
  & a[href] {
    @include footer-links;
  }

  & > .cbp-footer__heading {
    margin-bottom: var(--cbp-space-2x);

    // Replace with SVG when icon is available
    & > i {
      margin-right: var(--cbp-space-1x);
    }
  }

  & > .cbp-footer__text {
    margin-bottom: var(--cbp-space-4x);
    font-style: italic;
  }

  & > ul {
    color: var(--cbp-color-text-lightest);
    display: flex;
    flex-direction: column;
    font-size: var(--cbp-font-size-body);
    gap: var(--cbp-space-4x);
    list-style: none;
    padding: 0;
    margin: 0;
  
    & > li span {
      font-weight: var(--cbp-font-weight-bold);
    }
  }
}

.cbp-footer__security {
  & > div:first-child {
    align-items: center;
    display: flex;
    
    & > img {
      margin-right: var(--cbp-space-5x);
    }

    & p {
      display: none;
    }
  }

  & > p {
    margin-top: var(--cbp-space-2x);
  }
  
  & a[href] {
    @include footer-links;
  }
}

@media (min-width: $cbp-breakpoint-md) {
  .cbp-footer > nav > ul {
    display: flex;
    padding-left: var(--cbp-space-8x);

    a[href] {
      padding: var(--cbp-font-size-button) var(--cbp-space-3x); // no spacing token for 0.875 height of button = 44px
    }
  }

  .cbp-footer__info {
    padding: var(--cbp-space-4x) var(--cbp-space-8x);
  }

  .cbp-footer__support > ul {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cbp-footer__security {
    & > div:first-child p {
      display: block;
      margin-top: var(--cbp-space-2x);
    }

    & > p {
      display: none;
    }
  }
}

@media (min-width: $cbp-breakpoint-lg) {
  .cbp-footer__info {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width : $cbp-breakpoint-xl) {
  .cbp-footer > nav > ul {
    padding-left: var(--cbp-space-11x);
  }

  .cbp-footer__info {
    justify-content: space-between;
    padding: var(--cbp-space-4x) var(--cbp-space-11x);
  }
}