cbp-float-ui {

  #tooltip { //TODO: local testing, to be removed or moved to style tag in stories
        width: max-content;
        position: absolute;
        top: 0;
        left: 0;
        background: #222;
        color: white;
        font-weight: bold;
        padding: 5px;
        border-radius: 4px;
        font-size: 90%;
      }

  #arrow{ //is used in collaboration with the arrow prop
    position: absolute;
    border: 1px solid red; //TODO: local testing, remove
  }
}
