.cbp-accordion {
  margin-top: var(--cbp-space-6x);
  margin-bottom: var(--cbp-space-6x);
  width: 100%;
}

.cbp-accordion__item:not(:last-child) {
  margin-bottom: var(--cbp-space-3x);
}

.cbp-accordion__control {
  display: flex;
  align-items: center;
  background: var(--cbp-color-interactive-neutral-lighter);
  border: none;
  color: var(--cbp-color-text-darkest);
  justify-content: space-between;
  outline: 0;
  min-height: var(--cbp-space-13x);
  padding-left: var(--cbp-space-4x);
  padding-right: var(--cbp-space-4x);
  transition: all 300ms;
  width: 100%;

  & i {
    font-size: var(--cbp-font-size-heading-md);

    &:first-child {
      margin-right: var(--cbp-space-2x);
      transition: transform var(--cbp-motion-duration-shortest) ease-in-out;
    }
  }

  &:hover {
    background-color: var(--cbp-color-interactive-neutral-light);
  }

  &:focus {
    background: var(--cbp-color-interactive-focus-dark);
    color: var(--cbp-color-text-lightest);
    outline-width: var(--cbp-border-size-md);
    outline-style: solid;
    outline-color: var(--cbp-color-white);
    outline-offset: calc(-1 * var(--cbp-space-2x));

    & > .cbp-badge {
      background-color: var(--cbp-color-white);
      color: var(--cbp-color-base-secondary-base);
    }
  }
}

.cbp-accordion__control[aria-expanded="true"] {
  background-color: var(--cbp-color-base-secondary-base);
  color: var(--cbp-color-text-lightest);

  & i:first-child {
    transform: rotate(-180deg);
  }

  & .cbp-badge {
    background-color: var(--cbp-color-white);
    color: var(--cbp-color-base-secondary-base);
  }

  &:hover {
    background-color: var(--cbp-color-base-secondary-dark);

    & + .cbp-accordion__content {
      border-color: var(--cbp-color-base-secondary-dark);
    }
  }

  &:focus {
    background-color: var(--cbp-color-interactive-focus-dark);

    & + .cbp-accordion__content {
      border-color: var(--cbp-color-interactive-focus-dark);
    }
  }
}

.cbp-accordion__title {
  align-items: center;
  display: flex;
  font-weight: var(--cbp-font-weight-medium);
  font-size: var(--cbp-font-size-heading-sm);
}

.cbp-accordion__content {
  background: var(--cbp-color-white);
  border: var(--cbp-border-size-xl) solid var(--cbp-color-base-secondary-base);
  border-top: 0;
  padding: var(--cbp-space-4x);
}



.cbp-accordion__item--danger > .cbp-accordion__control {
  background: var(--cbp-color-danger-base);
  color: var(--cbp-color-text-lightest);

  & + .cbp-accordion__content {
    border-color: var(--cbp-color-danger-base);
  }
  
  & .cbp-badge {
    background-color: var(--cbp-color-white);
    color: var(--cbp-color-danger-base);
  }

  &:hover {
    background: var(--cbp-color-danger-dark);

    & + .cbp-accordion__content {
      border-color: var(--cbp-color-danger-dark);
    }
  }

  &:focus {
    background: var(--cbp-color-interactive-focus-dark);

    & + .cbp-accordion__content {
      border-color: var(--cbp-color-interactive-focus-dark);
    }
  }
}
