//@use '../../base/colors' as *;

/*
  TODO: investigate why/if important is needed. It shouldn't be.
*/

@mixin accordion-focus {
  background: var(--cbp-color-interactive-focus-dark) !important;
  color: var(--cbp-color-white);
  outline: 2px solid var(--cbp-color-white) !important;
  outline-offset: -4px !important;
}

@mixin accordion-text-light {
  div:first-child span,
  div:first-child i {
    color: var(--cbp-color-text-lightest);
  }
}

@mixin accordion-badge($bg-color, $text-color) {
  .cbp-badge {
    background-color: $bg-color;

    & span {
      color: $text-color;
    }
  }
}

@mixin accordion-content-border($border-color, $override: false) {
  @if $override {
    border-bottom: 4px solid $border-color !important;
    border-left: 4px solid $border-color !important;
    border-right: 4px solid $border-color !important;
  } @else {
    border-bottom: 4px solid $border-color;
    border-left: 4px solid $border-color;
    border-right: 4px solid $border-color;
  }
}