//@use '../../base/colors' as *;
// @use '../button/states' as *;

@mixin hamburger-menu {
  background-color: transparent;
  border: var(--cbp-border-size-md) solid var(--cbp-color-interactive-secondary-darker);
  border-radius: var(--cbp-border-radius-soft);
  font-size: var(--cbp-font-size-body);
  height: var(--cbp-space-9x);
  width: var(--cbp-space-9x);

  & > i {
    color: var(--cbp-color-interactive-secondary-darker);
  }

  &:hover {
    background-color: var(--cbp-color-interactive-secondary-darker);

    & > i {
      color: var(--cbp-color-text-lightest);
    }
  }

  &:focus {
    // @include btn-focus;
    border: 0;
  }
}
