//@use '../../base/colors' as *;
@use 'mixins' as *;

@forward 'nav';

button[data-drawer] {
  i {
    margin: 0;
    letter-spacing: initial;
  }
}

/* Default Drawer Direction: 'left' */
.cbp-drawer {
  // display: none;
  min-height: min-content;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  transition: 0.5s;
  width: 100%;
  z-index: 9999;
}

.cbp-drawer__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 72px;
  color: var(--cbp-color-text-lightest);
  background-color: var(--cbp-color-base-secondary-base);
  border-bottom: 4px solid var(--cbp-color-base-secondary-dark);


  div:first-child {
    display: inherit;

    i {
      font-size: 22px;
      margin-right: 16px;
    }

    h6 {
      color: var(--cbp-color-text-lightest);
      font-weight: 700;
      font-size: 1.602rem;
    }
  }

  & > button {
    @include drawer-close-btn;
  }
}

.cbp-drawer__content {
  background-color: var(--cbp-color-white);
  height: 100%;

  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

@include drawer-left;
@include drawer-right;

@media only screen and (min-width : 600px) {
  .cbp-drawer {
    width: 400px;
  }
}