cbp-typography {
  display: block;

  h1 {
    color: var(--cbp-color-text-darker);
    font-weight: var(--cbp-font-weight-light);
    font-size: var(--cbp-font-size-masthead-2);
    line-height: var(--cbp-space-9x);
  }

  h2 {
    color: var(--cbp-color-text-darker);
    font-weight: var(--cbp-font-weight-regular);
    font-size: var(--cbp-font-size-heading-xxl);
    line-height: var(--cbp-space-8x);
  }

  h3 {
    color: var(--cbp-color-text-darker);
    font-weight: var(--cbp-font-weight-regular);
    font-size: var(--cbp-font-size-heading-xl);
    line-height: var(--cbp-space-7x);
  }

  h4 {
    color: var(--cbp-color-text-darker);
    font-weight: var(--cbp-font-weight-medium);
    font-size: var(--cbp-font-size-heading-lg);
    line-height: var(--cbp-space-6x);
  }

  h5 {
    color: var(--cbp-color-text-darker);
    font-weight: var(--cbp-font-weight-medium);
    font-size: var(--cbp-font-size-heading-md);
    line-height: var(--cbp-space-6x);
  }

  h6 {
    color: var(--cbp-color-text-darker);
    font-weight: var(--cbp-font-weight-bold);
    font-size: var(--cbp-font-size-heading-xs);
    line-height: var(--cbp-space-5x);
  }

  p {
    font-weight: var(--cbp-font-weight-regular);
    font-size: var(--cbp-font-size-body);
    line-height: var(--cbp-space-5x);
    max-width: var(--cbp-line-length-longer);
  }
}
