//@use '../../base/colors' as *;
@use '../form/general' as *;
@use '../button' as *;

.cbp-field-group {
  display: flex;

  & > input[type=password],
  & > input[type=text] {
    @include base-input;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    flex: 1 1 auto;
    width: auto;

    &:disabled {
      cursor: pointer;
    }
  }

  & > button {
    @extend .cbp-btn;
    @extend .cbp-btn__secondary;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    display: inline-block;
    margin-left: -2px;
    white-space: nowrap;

    &:disabled {
      background-color: var(--cbp-color-interactive-disabled-dark);
      color: var(--cbp-color-interactive-disabled-light);
    }
  }

  & > .square {
    @extend .cbp-btn;
    @extend .cbp-btn__square;
    @extend .cbp-btn__square-secondary;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -2px;

    &:disabled {
      background-color: var(--cbp-color-interactive-disabled-dark);
      color: var(--cbp-color-interactive-disabled-light);
    }
  }
}

.cbp-field-group--error {
  & > button {
    @extend .cbp-btn__square-danger;
  }

  & > .square {
    @extend .cbp-btn__square-danger;
  }
}

.cbp-field-group--readonly {
  & > button,
  & > .square {
    background-color: var(--cbp-color-interactive-neutral-light);
    color: var(--cbp-color-text-lightest);
    cursor: not-allowed;

    &:hover:not([disabled]) {
      background-color: var(--cbp-color-interactive-neutral-light);
    }

    &:disabled {
      background-color: var(--cbp-color-base-neutral-light);
      color: var(--cbp-color-text-lightest);
    }
  }
}

.autocomplete {
  position: relative;

  input[type="text"] {
    margin-bottom: 0;
  }
}

.autocomplete-items {
  background-color: var(--cbp-color-white);
  border: 1px solid var(--cbp-color-interactive-neutral-base);
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  left: 0;
  right: 0;
  max-height: 216px;
  overflow-y: scroll;
  position: absolute;
  top: 100%;
  z-index: 99;
}

.autocomplete-items div {
  align-items: center;
  background-color: var(--cbp-color-white);
  border-bottom: 1px solid var(--cbp-color-interactive-neutral-lighter);
  color: var(--cbp-color-text-dark);
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  height: 36px;
  letter-spacing: 0.3px;
  padding-left: 16px;

  & > strong {
    color: var(--cbp-color-text-darkest);
    font-style: normal;
    font-weight: 400;
  }
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: var(--cbp-color-interactive-neutral-darker);
  color: var(--cbp-color-text-base);
  & > strong {
    color: var(--cbp-color-text-lightest);
    font-weight: 700;
  }
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: var(--cbp-color-interactive-focus-dark) !important; 
  color: var(--cbp-color-text-base) !important;
  
  & > strong {
    color: var(--cbp-color-text-lightest) !important;
    font-weight: 700 !important;
  }
}