//@use '../../base/colors' as *;

@mixin base-input {
  background-color: var(--cbp-color-white);
  border: 1px solid var(--cbp-color-interactive-neutral-base);
  border-radius: 3px;
  box-sizing: border-box;
  color: var(--cbp-color-text-darkest);
  font-size: 1rem;
  font-weight: 400;
  height: 36px;
  letter-spacing: 0.3px;
  margin-bottom: 16px;
  padding: 0 8px;
  width: 100%;

  &::placeholder {
    font-style: italic;
  }

  &:hover:not([disabled]) {
    border: 2px solid var(--cbp-color-interactive-neutral-darker);
  }

  &:focus:not([disabled]) {
    border: 2px solid var(--cbp-color-interactive-focus-dark);
    outline: 0;
  }

  &:read-only {
    background-color: var(--cbp-color-base-neutral-lighter);
    border: 1px solid var(--cbp-color-interactive-neutral-light);
    cursor: not-allowed;

    &:hover,
    &:focus {
      border: 1px solid var(--cbp-color-interactive-neutral-light);
    }
  }

  &:disabled {
    background-color: var(--cbp-color-interactive-disabled-light);
    border: 1px solid var(--cbp-color-interactive-disabled-dark);
    cursor: pointer;

    &:hover {
      border: 2px solid var(--cbp-color-interactive-neutral-darker);
    }

    &:focus {
      border: 2px solid var(--cbp-color-interactive-focus-dark);
    }
  }

  &:invalid {
    background-color: var(--cbp-color-danger-lighter);
    border: 1px solid var(--cbp-color-danger-base);

    &:focus {
      border-color: var(--cbp-color-interactive-focus-dark);
    }
    
    &:hover {
      border: 2px solid var(--cbp-color-danger-dark);

      &:focus {
        border-color: var(--cbp-color-interactive-focus-dark);
      }
    }
  }
}