@use 'mixins' as *;

.cbp-input-group {
  display: flex;

  & > input[type=password],
  & > input[type=text] {
    @include base-input;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    flex: 1 1 auto;

    &:disabled {
      cursor: pointer;
    }

    & + button {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      white-space: nowrap;
    }
  }
}
