:root {
  --cbp-carousel-height: 100%;
  --cbp-carousel-width: 100%;
  --cbp-carousel-offset: 0;
  --cbp-carousel-offset-start: 0;
}

cbp-carousel {
  display: inline-block;
  height: var(--cbp-carousel-height); 
  width: var(--cbp-carousel-width);

  .cbp-carousel-viewer{
    height: 100%;
    width: 100%;
    overflow: hidden;

      .cbp-carousel-container{
        display: flex;
        animation: slide 2s forwards; 
      }

      // .carousel-animation{
      //   animation: slide 2s forwards;
      // }
  }
}

@keyframes slide {
  0%{ transform: translateX(var(--cbp-carousel-offset-start))}
  100%{ transform: translateX(var(--cbp-carousel-offset))}
}
