
:root {
  --cbp-banner-color-bg: var(--cbp-color-info-dark);
  --cbp-banner-color: var(--cbp-color-text-lightest)
}

cbp-banner {
  display: flex;
  flex-direction: row;
  gap: var(--cbp-space-4x);
  padding: var(--cbp-space-4x) var(--cbp-responsive-spacing-outer);
  

  .cbp-banner__icon-container{
    align-content: center;
  }

  .cbp-banner__text-container{
    display: flex;  
    flex-grow: 1;
    flex-direction: column;
  }

  /** Info Banner*/
  &[color='info']{
    background-color: var(--cbp-banner-color-bg);

    .cbp-banner__text-container{
      color: var(--cbp-banner-color); 
    }
  }
  
}

