
:root {
  --cbp-banner-color-bg: var(--cbp-color-info-dark);
  --cbp-banner-color: var(--cbp-color-text-lightest)
}

cbp-banner {
  display: flex;
  flex-direction: row;
  gap: var(--cbp-space-4x);
  background-color: var(--cbp-banner-color-bg);
  
  .cbp-banner__icon-container{
    align-content: center;
  }

  .cbp-banner__text-container{
    display: flex;  
    flex-grow: 1;
    flex-direction: column;
    padding-block: var(--cbp-space-3x);

    .cbp-banner-content{
      color: var(--cbp-banner-color);
      margin-block-end: var(--cbp-space-3x);
    }
  }
}

