
:root {
  --cbp-banner-color-bg: var(--cbp-color-info-dark);
  --cbp-banner-color-fg: var(--cbp-color-text-lightest)
}
cbp-banner {
  display: flex;
  flex-direction: row;

  &[aria-color="infoBanner"]{
    background-color: var(--cbp-banner-color-bg);
  }

  .iconContainer{
    align-content: center;
    padding-inline: var(--cbp-space-4x);
  }

  .textContainer{
    display: flex;  
    flex-grow: 1;
    flex-direction: column;
    padding-block: var(--cbp-space-3x);

    .cbp-banner-content{
      color: var(--cbp-banner-color-fg);
      margin-block-end: var(--cbp-space-3x);
    }
  }
}

