/*
 * @prop 
 */
:root {
  --cbp-pagination-color: var(--cbp-color-text-darkest);
  --cbp-pagination-color-bg: var(--cbp-color-white);

  --cbp-pagination-color-dark: var(--cbp-color-text-lightest);
  --cbp-pagination-color-bg-dark: var(--cbp-color-black);
}

/* 
 * Dark Mode - display dark design based on mode or context
 */
 [data-cbp-theme=light] cbp-pagination[context*=dark],
 [data-cbp-theme=dark] cbp-pagination:not([context=dark-inverts]):not([context=light-always]) {
  --cbp-pagination-color: var(--cbp-pagination-color-dark);
  --cbp-pagination-color-bg: var(--cbp-pagination-color-bg-dark);
 }


cbp-pagination {
  --cbp-form-field-margin-bottom: 0;
  
  display: flex;
  align-items: center;
  gap: var(--cbp-space-2x);
  color: var(--cbp-pagination-color);

  [slot=cbp-pagination-items-per-page],
  [slot=cbp-pagination-pages] {
    label {
      display: none;
    }
  }

  .cbp-pagination-showing-text {
    flex-grow: 1;
    font-style: italic;
  }
}

@media (max-width: 28rem) {
  cbp-pagination {
    [slot=cbp-pagination-items-per-page] {
      display: none;
    }
  }
}