@use '../button/index' as *;

.cbp-card--decision {
  border: 0;

  & .cbp-card__content {
    border: var(--cbp-border-size-md) solid var(--cbp-color-base-neutral-lighter);
    border-top-left-radius: var(--cbp-border-radius-softer);
    border-top-right-radius: var(--cbp-border-radius-softer);
    border-bottom: 0;
  }
}

.cbp-card__actions {
  display: flex;

  & .cbp-btn {
    border-radius: 0;
    padding-top: var(--cbp-space-3x);
    padding-bottom: var(--cbp-space-3x);
    width: 100%;
  }

  & .cbp-btn__tertiary {
    background-color: var(--cbp-color-interactive-secondary-base);
    color: var(--cbp-color-text-lightest);

    &:hover:not(:focus):not(:disabled) {
      background-color: var(--cbp-color-interactive-secondary-darker);
      border-color: var(--cbp-color-interactive-secondary-darker);
    }

    // Without this set, .cbp-btn:focus gets overridden by .cbp-card__actions.cbp-btn__tertiary background-color property
    &:focus {
      background-color: var(--cbp-color-interactive-focus-dark);
    }
  }

  & .cbp-btn:first-child {
    border-bottom-left-radius: var(--cbp-border-radius-softer);
  }

  & .cbp-btn:last-child {
    border-bottom-right-radius: var(--cbp-border-radius-softer);
  }
}

/* DANGER */
.cbp-card--danger.cbp-card--decision {
  & .cbp-card__content {
    background-color: var(--cbp-color-danger-lighter);
    border: var(--cbp-border-size-md) solid var(--cbp-color-danger-base);
    border-bottom: 0;
  }
  
  & .cbp-card__title {
    color: var(--cbp-color-danger-base);
  }

  & .cbp-card__header--flag {
    background-color: var(--cbp-color-danger-base);

    & > .cbp-card__title {
      color: var(--cbp-color-text-lightest);
    }
  }
}

[data-cbp-theme="dark"] {
  .cbp-card--decision {
    border: 0;
    
    & .cbp-card__content {
      border: var(--cbp-border-size-md) solid var(--cbp-color-base-neutral-base);
      border-bottom: 0;
    }
  }

  .cbp-card--danger.cbp-card--decision {
    & .cbp-card__title {
      color: var(--cbp-color-danger-light);
    }
  
    & .cbp-card__content {
      background-color: var(--cbp-color-danger-darker);
      border: var(--cbp-border-size-md) solid var(--cbp-color-danger-light);
      border-bottom: 0;
    }
  
    & .cbp-card__header--flag {
      background-color: var(--cbp-color-danger-light);
    }

    & .cbp-card__header--flag > .cbp-card__title {
      color: var(--cbp-color-text-darkest);
    }
  }
}