@use 'variables' as *;

@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-display: swap;
  src: url("#{$font-path-roboto}/Roboto-Thin.woff2") format("woff2"),
    url("#{$font-path-roboto}/Roboto-Thin.woff") format("woff"),
    url("#{$font-path-roboto}/Roboto-Thin.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-display: swap;
  src: url("#{$font-path-roboto}/Roboto-Light.woff2") format("woff2"),
    url("#{$font-path-roboto}/Roboto-Light.woff") format("woff"),
    url("#{$font-path-roboto}/Roboto-Light.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-display: swap;
  src: url("#{$font-path-roboto}/Roboto-Regular.woff2") format("woff2"),
    url("#{$font-path-roboto}/Roboto-Regular.woff") format("woff"),
    url("#{$font-path-roboto}/Roboto-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-display: swap;
  src: url("#{$font-path-roboto}/Roboto-Medium.woff2") format("woff2"),
    url("#{$font-path-roboto}/Roboto-Medium.woff") format("woff"),
    url("#{$font-path-roboto}/Roboto-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-display: swap;
  src: url("#{$font-path-roboto}/Roboto-Bold.woff2") format("woff2"),
    url("#{$font-path-roboto}/Roboto-Bold.woff") format("woff"),
    url("#{$font-path-roboto}/Roboto-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-display: swap;
  src: url("#{$font-path-roboto}/Roboto-Black.woff2") format("woff2"),
    url("#{$font-path-roboto}/Roboto-Black.woff") format("woff"),
    url("#{$font-path-roboto}/Roboto-Black.ttf") format("ttf");
}