//@use '../../base/colors' as *;
@use '../../typography' as *;
@use './states' as *;
//@use '../../tokens/font' as *;

.cbp-accordion {
  margin: 24px 0;
  width: 100%;

  .cbp-accordion__item {
    margin-bottom: 12px;
  
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .cbp-accordion__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--cbp-color-text-darkest);
    background: var(--cbp-color-interactive-neutral-lighter);
    border: none;
    cursor: pointer;
    outline: transparent;
    padding: 16px;
    transition: all 300ms;

    div:first-child i {
      color: var(--cbp-color-text-darker);
      font-size: var(--cbp-font-size-heading-md);
      transition: transform .2s ease-in-out;
    }

    div:first-child span {
      @extend .cbp-heading-s;
      margin-left: 16px;
    }

    &:hover {
      background-color: var(--cbp-color-interactive-neutral-light);
    }

    &:focus {
      @include accordion-focus;
      @include accordion-text-light;
      @include accordion-badge(var(--cbp-color-white), var(--cbp-color-base-secondary-base));
    }

    /* TODO: Leverage the cascade. Put states last. */
    &:focus + .cbp-accordion__content {
      @include accordion-content-border(var(--cpb-color-interactive-focus-dark), true);
    }
  }

  .cbp-accordion__content {
    background: var(--cbp-color-white);
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;

    /* TODO: wouldn't it be easier to apply padding to the content panel 
      rather than margin to every child inside of it, possibly overriding something?
    */
    > * { 
      margin: 16px 
    }
  }
}


.cbp-accordion__title--danger {
  background: var(--cbp-color-danger-base);

  @include accordion-text-light;
  @include accordion-badge(var(--cbp-color-white), var(--cbp-color-danger-base));

  &:hover {
    background: var(--cbp-color-danger-dark);
  }

  &:focus {
    @include accordion-focus;
    @include accordion-badge(var(--cbp-color-white), var(--cbp-color-danger-base));
  }
}

.active {
  .cbp-accordion__title {
    background-color: var(--cbp-color-base-secondary-base);

    @include accordion-text-light;

    div:first-child i {
      transform: rotate(-180deg);
    }

    @include accordion-badge(var(--cbp-color-white), var(--cbp-color-base-secondary-base));

    .cbp-accordion__title--danger {
      background: var(--cbp-color-danger-base);
      color: var(--cbp-color-text-lightest);

      .cbp-badge span {
        color: var(--cbp-color-danger-base);
      }
    }

    .cbp-accordion__title--danger + .cbp-accordion__content {
      border-color: var(--cbp-color-danger-base);
    }
  }

  .cbp-accordion__content {
    display: block;
    max-height: fit-content;
    @include accordion-content-border(var(--cbp-color-base-secondary-base));

    .cbp-accordion__footer {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      margin-top: 16px;
    }
  }
}

// Hover States
.cbp-accordion__item.active:hover {
  .cbp-accordion__title {
    background-color: var(--cbp-color-base-secondary-dark);
  }

  .cbp-accordion__content {
    @include accordion-content-border(var(--cbp-color-base-secondary-base));
  }

  .cbp-accordion__title--danger {
    background-color: var(--cbp-color-danger-dark);
  }

  .cbp-accordion__title--danger + .cbp-accordion__content {
    @include accordion-content-border(var(--cbp-color-danger-dark));
  }
}
