//@use '../../base/colors' as *;
// @use '../button' as *;

@mixin banner-info($bg-color) {
  background-color: $bg-color;
  padding-top: var(--cbp-space-4x);
  padding-bottom: var(--cbp-space-4x);

  & > div {
    @content;
    margin: 0 var(--cbp-space-4x);  // TechDebt: this should use a standard responsive spacing utility 

    & > div:first-child {
      display: flex;
      flex-shrink: 0;
    }

    @media (min-width: 37.5em) and (max-width: 90em) {
      margin: 0 var(--cbp-space-5x);
    }

    @media (min-width: 90em) {
      margin: 0 var(--cbp-space-7x);
    }
  }
}

@mixin banner-text($text-color) {
  color: $text-color;
  font-size: 14px;
  font-weight: 400;
  line-height: var(--cbp-line-height-sm);
  margin-top: var(--cbp-space-4x);
  margin-bottom: var(--cbp-space-4x);
  max-width: 100%; //1024px??
}

@mixin banner-title($text-color) {
  color: $text-color;
  font-size: var(--cbp-font-size-masthead-2);
  font-weight: var(--cbp-font-weight-medium);
  line-height: var(--cbp-line-height-sm);

  &::first-line {
    line-height: initial;
  }
}

@mixin banner-dismiss($text-color) {
  // @extend .cbp-btn;
  // @extend .cbp-btn__secondary--ghost;
  color: $text-color;
}
