@use '../../grid/breakpoints' as *;

:root {
  --cbp-usa-banner-color: var(--cbp-color-text-lightest);
  --cbp-usa-banner-background-color: var(--cbp-color-base-neutral-darkest);
}

.cbp-banner {
  position: relative;
  color: var(--cbp-usa-banner-color);
  background-color: var(--cbp-usa-banner-background-color);
}

.cbp-banner__title {
  position: relative;
  display: flex;
  align-items: baseline;
  gap: var(--cbp-space-2x);
  min-height: var(--cbp-space-8x);
  padding: var(--cbp-space-2x) 0;
  font-size: var(--cbp-font-size-subhead);
  font-weight: var(--cbp-font-weight-medium);
}

.cbp-banner__toggle {
  background-color: transparent;
  border: 0;
  color: var(--cbp-color-interactive-secondary-light);
  padding: 0;
  text-decoration: underline;

  .cbp-usa-banner__dismiss {
    display: none;
  }

  & > span > i {
    position: relative;
    margin-left: var(--cbp-space-1x);
    text-decoration: none;
  }

  &[aria-expanded='true'] span > i {
    transform: rotate(180deg);
    top: -2px;
  }

  &:hover {
    color: var(--cbp-color-interactive-secondary-lighter);
  }

  &:focus {
    color: var(--cbp-color-interactive-focus-light);
    outline: var(--cbp-border-size-md) solid
      var(--cbp-color-interactive-focus-light);
    outline-offset: var(--cbp-space-half-x);
  }
}

.cbp-banner__content {
  display: none;
  background-color: var(--cbp-usa-banner-background-color);
  color: var(--cbp-usa-banner-color);
  max-width: 64rem;
  line-height: 1.6;
  margin-top: var(--cbp-space-6x);

  & > div {
    display: flex;
    flex-basis: 20rem;
    flex-grow: 1;
    gap: var(--cbp-space-3x);
    padding: 0 var(--cbp-space-3x);
    margin-bottom: var(--cbp-space-8x);

    & > i {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      height: 52px;
      width: 52px;
      border-width: var(--cbp-border-size-md);
      border-style: solid;
      border-color: var(--cbp-color-info-base);
      border-radius: var(--cbp-border-radius-pill);
      color: var(--cbp-color-info-light);
      font-size: var(--cbp-space-5x);
    }
  }
}

.banner-active {
  display: flex;
  flex-wrap: wrap;
}