/** 
 * @prop --cbp-app-header-color-background: var(--cbp-color-white) 
 * @prop --cbp-app-header-color-background-dark: var(--cbp-color-base-neutral-dark);
*/

:root {
  --cbp-app-header-color-background: var(--cbp-color-white);
  --cbp-app-header-color-background-dark: var(--cbp-color-base-neutral-dark);
}

[data-cbp-theme=light] cbp-app-header[context*=dark]:not([context=light-always]),
[data-cbp-theme=dark] cbp-app-header:not([context=dark-inverts]):not([context=light-always]) {
  --cbp-app-header-color-background: var(--cbp-app-header-color-background-dark);
}

cbp-app-header {
  display: flex;
  align-items: center;
  align-content: stretch;
  position: sticky;
  top: calc(-1 * var(--cbp-space-half-x));
  width: 100%;
  min-height: var(--cbp-space-14x);
  padding: 0 var(--cbp-responsive-spacing-outer);
  background-color: var(--cbp-app-header-color-background);
  box-shadow: var(--cbp-shadow-level-3-down);
  z-index: var(--cbp-z-index-level-1);

}
