@use '../variables' as *;

@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  src: url("#{$font-path-roboto}/Roboto-ThinItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url("#{$font-path-roboto}/Roboto-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("#{$font-path-roboto}/Roboto-RegularItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("#{$font-path-roboto}/Roboto-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("#{$font-path-roboto}/Roboto-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url("#{$font-path-roboto}/Roboto-BlackItalic.woff2") format("woff2");
}