// @use './states';
//@use '../../base/colors' as *;
@use 'mixins' as *;

/*
TODO: reorganize more logically, reduce mixing/extends; write readable CSS
The use of !important means this is not well organized and seems unmaintainable
also should not need :not(disabled) all over the place
*/

.btn-disabled {
  background: var(--cbp-color-interactive-disabled-light);
  color: var(--cbp-color-interactive-disabled-dark);
  cursor: pointer; // ???
  font-style: italic;
  font-weight: 500;

  // TODO: why are disabled buttons interactive?
  &:hover {
    background-color: var(--cbp-color-interactive-disabled-dark);
    color: var(--cbp-color-text-darkest);
  }
}

/* PRIMARY FOCUS PROPERTIES */
.btn-focus {
  background: var(--cbp-color-interactive-focus-dark);
  color: var(--cbp-color-white);
  font-weight: 700;
  outline: 2px solid var(--cbp-color-white);
  outline-offset: -4px;

  &:hover {
    background-color: var(--cbp-color-interactive-focus-dark);
    color: var(--cbp-color-white);
  }
}

/* ACTIVE (:active) PROPERTIES */
.btn-active {
  @extend .btn-focus;
  outline: none;
}

/* OUTLINE ACTIVE STATE PROPERTIES */
.btn-outline-active {
  background: var(--cbp-color-white);
  border: 2px solid var(--cbp-color-interactive-active-dark) !important;
  box-shadow: none;
  color: var(--cbp-color-interactive-active-dark) !important;
  font-style: italic;
}

/* GHOST ACTIVE STATE PROPERTIES */
.btn-ghost-active {
  @extend .btn-outline-active;
  border: 0;
}

/* OUTLINE DISABLED PROPERTIES*/
.btn-outline-disabled {
  background: var(--cbp-color-white);
  border: 2px solid var(--cbp-color-text-base);
  color: var(--cbp-color-text-base);
  cursor: not-allowed;
  font-style: italic;
  
  &:hover {
    background-color: var(--cbp-color-interactive-disabled-light);
    border: 2px solid var(--cbp-color-interactive-disabled-light);
    color: var(--cbp-color-text-darker);
    font-weight: 700;
  }
}

span.ripple {
  animation: ripple 400ms linear;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  position: absolute;
  transform: scale(0);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

/* Extended Classes */

.cbp-btn-group { 
  display: flex;
  justify-content: space-between;

  &--around { justify-content: space-around; }
  &--center { justify-content: center; }
  &--left { justify-content: flex-start; }
  &--right { justify-content: flex-end; }
}

.cbp-btn {
  align-items: center;
  border: 2px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  justify-content: center;
  letter-spacing: 1.08px;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-transform: uppercase;
  transition: all 300ms;

  & > i {
    margin-right: 8px;
    pointer-events: none;
  }

  &__primary {
    background-color: var(--cbp-color-interactive-primary-dark);
    color: var(--cbp-color-text-lightest);

    /* HOVER */
    &:hover:not([disabled]) {
      background-color: var(--cbp-color-interactive-primary-darker);
      font-weight: 700;
    }

    /* FOCUSED */
    &:focus:not([disabled]) {
      @extend .btn-focus;
    }
    
    /* DISABLED */
    &:disabled {
      @extend .btn-disabled;

      &:hover {
        background: var(--cbp-color-interactive-disabled-dark);
        color: var(--cbp-color-text-darkest);
        font-weight: 700;
      }

      &:focus {
        @extend .btn-focus;
      }
    }
    
    &:active:not([disabled]) {
      @extend .btn-active;
    }

    /* PRIMARY OUTLINE */
    &--outline {
      @include outline(var(--cbp-color-interactive-primary-dark), var(--cbp-color-interactive-primary-dark));
    }

    /* PRIMARY GHOST */
    &--ghost {
      @include ghost(var(--cbp-color-interactive-primary-dark), var(--cbp-color-interactive-primary-lighter));
      
      &:disabled {
        background-color: transparent !important;
      }
    }

    /* PRIMARY FLOATING ACTION */
    &--float {
      @include float(var(--cbp-color-interactive-primary-dark), var(--cbp-color-interactive-primary-darker));
    }
  }

  /* SECONDARY BUTTON */
  &__secondary {
    background-color: var(--cbp-color-interactive-neutral-dark);
    color: var(--cbp-color-text-lightest);

    &:hover:not([disabled]) {
      background-color: var(--cbp-color-interactive-neutral-darker);
      font-weight: 700;
    }

    &:focus:not([disabled]) {
      @extend .btn-focus;
    }

    &:disabled {
      @extend .btn-disabled;
    }

    &:active:not([disabled]) {
      @extend .btn-active;
    }

    /* SECONDARY OUTLINE */
    &--outline {
      @include outline(var(--cbp-color-interactive-neutral-darker), var(--cbp-color-interactive-neutral-darker));
      
      &:hover:not([disabled]) {
        color: var(--cbp-color-text-lightest);
      }
    }

    /* SECONDARY GHOST BUTTON */
    &--ghost {
      @include ghost(var(--cbp-color-interactive-neutral-dark), var(--cbp-color-interactive-neutral-lighter));
    }

    /* SECONDARY FLOATING ACTION */
    &--float {
      @include float(var(--cbp-color-interactive-neutral-dark), var(--cbp-color-interactive-neutral-darker));
    }
  }

  /* BUTTON DANGER */
  &__danger {
    background-color: var(--cbp-color-danger-base);
    color: var(--cbp-color-white);

    /* BUTTON DANGER HOVER */
    &:hover:not([disabled]) {
      background-color: var(--cbp-color-danger-dark);
      font-weight: 700;
    }

    /* BUTTON DANGER FOCUS */
    &:focus:not([disabled]) {
      @extend .btn-focus;
    }

    &:active:not([disabled]) {
      @extend .btn-active;
    }

    &:disabled {
      @extend .btn-disabled;
    }

    /* BUTTON DANGER OUTLINE */
    &--outline {
      @include outline(var(--cbp-color-danger-base), var(--cbp-color-danger-base));
      
      &:hover:not([disabled]) {
        color: var(--cbp-color-text-lightest);
      }
    }

    /* DANGER GHOST BUTTON */
    &--ghost {
      @include ghost(var(--cbp-color-danger-base), var(--cbp-color-danger-lighter));
    }
  }

  &__square {
    width: 36px;

    & > i {
      margin-right: 0 !important;
    }

    &:focus:not([disabled]) {
      @extend .btn-focus;
    }

    &:active:not([disabled]) {
      @extend .btn-active;
    }
    &-primary {
      background-color: var(--cbp-color-interactive-primary-dark);
      color: var(--cbp-color-text-lightest);

      &:hover:not([disabled]) {
        background-color: var(--cbp-color-interactive-primary-darker);
      }

      &--outline {
        @include outline(var(--cbp-color-interactive-primary-dark), var(--cbp-color-interactive-primary-dark));

        &:hover:not([disabled]) {
          color: var(--cbp-color-text-lightest);
        }
      }
      &--ghost {
        @include ghost(var(--cbp-color-interactive-primary-dark), var(--cbp-color-interactive-primary-lighter));
      }
    }

    &-secondary {
      background-color: var(--cbp-color-interactive-neutral-dark);
      color: var(--cbp-color-white);

      &:hover:not([disabled]) {
        background-color: var(--cbp-color-interactive-neutral-darker);
      }

      &--outline {
        @include outline(var(--cbp-color-interactive-neutral-darker), var(--cbp-color-interactive-neutral-darker));

        &:hover:not([disabled]) {
          color: var(--cbp-color-text-lightest);
        }
      }
      &--ghost {
        @include ghost(var(--cbp-color-interactive-neutral-dark), var(--cbp-color-interactive-neutral-lighter));
      }
    }

    &-danger {
      background-color: var(--cbp-color-danger-base);
      color: var(--cbp-color-white);

      &:hover:not([disabled]) {
        background-color: var(--cbp-color-danger-dark);
      }

      &--outline {
        @include outline(var(--cbp-color-danger-base), var(--cbp-color-danger-base));

        &:hover:not([disabled]) {
          color: var(--cbp-color-text-lightest);
        }
      }

      &--ghost {
        @include ghost(var(--cbp-color-danger-base), var(--cbp-color-danger-lighter));
      }
    }
  }

  /* SEGMENTED BUTTONS */
  &--segment {
    display: flex;
    width: fit-content;
    
    button {
      @extend .cbp-btn;
      background-color: var(--cbp-color-white);
      border: 2px solid var(--cbp-color-interactive-neutral-dark);

      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 1px solid var(--cbp-color-interactive-neutral-dark);
      }

      &:not(:first-child):not(:last-child) {
        border-left: 1px solid var(--cbp-color-interactive-neutral-dark);
        border-right: 1px solid var(--cbp-color-interactive-neutral-dark);
        border-radius: 0;
      }

      &:last-child {
        border-left: 1px solid var(--cbp-color-interactive-neutral-dark);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:hover:not([disabled]) {
        background-color: var(--cbp-color-interactive-neutral-darker);
        color: #fff;
      }

      &:focus:not([disabled]) {
        background: var(--cbp-color-white);
        color: var(--cbp-color-interactive-focus-dark);
        font-weight: 700;
        outline: 2px solid var(--cbp-color-interactive-focus-dark);
        outline-offset: -3px;
      }

      &:disabled {
        background-color: var(--cbp-color-interactive-disabled-light);
        border-color: var(--cbp-color-interactive-disabled-dark);
        color: var(--cbp-color-interactive-disabled-dark);
      }

      & > i {
        margin-right: 0;
      }
    }

    .active {
      background-color: var(--cbp-color-interactive-selected-dark);
      color: var(--cbp-color-white);

      &:focus:not([disabled]) {
        @extend .btn-focus;
        outline-offset: -3px;
      }

      &:disabled {
        background-color: var(--cbp-color-interactive-disabled-dark);
        color: var(--cbp-color-interactive-disabled-light);
      }
    }
  }

  &--segment.read-only {
    button:disabled {
      background-color: var(--cbp-color-interactive-neutral-lighter);
      border-color: var(--cbp-color-interactive-neutral-light); 
      color: var(--cbp-color-text-base);
    }

    .active {
      background-color: var(--cbp-color-base-neutral-base) !important;
      color: var(--cbp-color-text-base);
    }
  }

  &__cta {
    @extend .cbp-btn__primary;
    font-size: 18px;
    height: 52px;
    padding: 0 16px;

    & > i {
      margin-right: 12px;
    }
  }

  /**
    Button active states indicating selection of button(s).
    Separate from the pseudo-class :active
  */

  /* ACTIVE STATE PROPERTIES */
  &--active {
    background-color: var(--cbp-color-interactive-active-dark) !important;
    box-shadow: none;
    cursor: not-allowed;
    font-style: italic;
    outline: none;

    &:hover {
      font-weight: 500 !important;
    }
  }

  /* OUTLINE ACTIVE STATE PROPERTIES */
  &--outline-active {
    background-color: var(--cbp-color-white);
    border: 2px solid var(--cbp-color-interactive-active-dark) !important;
    color: var(--cbp-color-interactive-active-dark) !important;
    cursor: not-allowed;
    font-style: italic;
    outline: none;

    &:hover {
      background-color: var(--cbp-color-white) !important;
      font-weight: 500 !important;
    }
  }

  /* GHOST ACTIVE STATE PROPERTIES */
  &--ghost-active {
    background-color: transparent;
    border: 0;
    color: var(--cbp-color-interactive-active-dark) !important;
    cursor: not-allowed;
    font-style: italic;
    outline: none;

    &:hover {
      background-color: transparent !important;
      font-weight: 500 !important;
    }
  }
}

/* DARK MODE */
// Abstract when 'theme' folder is created

[data-theme="dark"] {
  .cbp-btn__primary {
    background-color: var(--cbp-color-interactive-primary-base);

    &:hover {
      background-color: var(--cbp-color-interactive-primary-dark);
    }

    &:focus {
      @extend .btn-focus;
      // DRY
      background-color: var(--cbp-color-interactive-focus-light);
      color: var(--cbp-color-text-darkest);
      outline: 2px solid var(--cbp-color-black);
      outline-offset: -4px;

      &:hover {
        background-color: var(--cbp-color-interactive-focus-light);
        color: var(--cbp-color-text-darkest);
      }
    }

    /* DISABLED */
    &:disabled {
      @extend .btn-disabled;
      background-color: var(--cbp-color-interactive-disabled-light);
      color: var(--cbp-color-interactive-disabled-dark);

      &:hover {
        background: var(--cbp-color-interactive-disabled-dark);
        color: var(--cbp-color-text-darker);
        font-weight: 700;
      }

      &:focus {
        @extend .btn-focus;
        // DRY
        background-color: var(--cbp-color-interactive-focus-light);
        color:var(--cbp-color-text-darkest);
        outline: 2px solid var(--cbp-color-black);
        outline-offset: -4px;

        &:hover {
          background-color: var(--cbp-color-interactive-focus-light);
          color: var(--cbp-color-text-darkest);
        }
      }

      &:active:not([disabled]) {
        @extend .btn-active;
        outline: none;
      }
    }
  }


  .cbp-btn__primary--outline {
    &:hover {
      background-color: var(--cbp-color-interactive-primary-light);
      border-color: var(--cbp-color-interactive-primary-light);
      color: var(--cbp-color-text-darkest);
    }
  }
  .cbp-btn__primary--ghost {
    &:hover {
      background-color: var(--cbp-color-interactive-primary-dark);
    }
  }
  // .cbp-btn__primary--float {}

  .cbp-btn__secondary {
    background-color: var(--cbp-color-interactive-neutral-lighter);

    &:hover {
      background-color: var(--cbp-color-interactive-neutral-light);
    }
  }
  .cbp-btn__secondary--outline {
    background-color: var(--cbp-color-base-neutral-darker);
    border-color: var(--cbp-color-interactive-neutral-lighter) !important;
    color: var(--cbp-color-interactive-neutral-lighter);

    &:hover {
      background-color: var(--cbp-color-interactive-neutral-lighter);
      color: var(--cbp-color-text-darkest);
    }
  }
  .cbp-btn__secondary--ghost {
    color: var(--cbp-color-interactive-neutral-lighter);

    &:hover {
      background-color: var(--cbp-color-interactive-neutral-dark);
      color: var(--cbp-color-text-lightest);
    }
  }

  // .cbp-btn__secondary--float {}

  .cbp-btn__danger {
    &:hover {
      background-color: var(--cbp-color-danger-lighter);
      color: var(--cbp-color-danger-darker);
    }
  }

  .cbp-btn__danger--outline {
    background-color: var(--cbp-color-base-neutral-darker);
    border-color: var(--cbp-color-danger-light);
    color: var(--cbp-color-danger-light);
    &:hover {
      background-color: var(--cbp-color-danger-light);
      border-color: var(--cbp-color-danger-light);
      color: var(--cbp-color-text-darkest);
    }
  }

  .cbp-btn__danger--ghost {
    color: var(--cbp-color-danger-light);

    &:hover {
      background-color: var(--cbp-color-danger-dark);
      color: var(--cbp-color-text-lightest);
    }
  }

  // .cbp-btn__square {}

  .cbp-btn__square-primary {
    &:hover {
      background-color: var(--cbp-color-interactive-primary-lighter);
      color: var(--cbp-color-text-darkest);
    }
  }

  .cbp-btn__square-primary--outline {
    background-color: var(--cbp-color-base-neutral-darker);
    border-color: var(--cbp-color-interactive-primary-light);
    color: var(--cbp-color-interactive-primary-light);

    &:hover:not([disabled]) {
      background-color: var(--cbp-color-interactive-primary-light);
      border-color: var(--cbp-color-interactive-primary-light);
      color: var(--cbp-color-text-darkest);
    }
  }
  // .cbp-btn__square-primary--ghost {}

  .cbp-btn__square-secondary {
    background-color: var(--cbp-color-interactive-neutral-light);
    color: var(--cbp-color-text-darkest);

    &:hover {
      background-color: var(--cbp-color-interactive-neutral-lighter);
    }
  }

  .cbp-btn__square-secondary--outline {
    background-color: var(--cbp-color-base-neutral-darker);
    border-color: var(--cbp-color-interactive-neutral-lighter);
    color: var(--cbp-color-interactive-neutral-lighter);

    &:hover:not([disabled]) {
      background-color: var(--cbp-color-interactive-neutral-lighter);
      border-color: var(--cbp-color-interactive-neutral-lighter);
      color: var(--cbp-color-text-darkest);
    }
  }

  .cbp-btn__square-secondary--ghost {
    color: var(--cbp-color-interactive-neutral-lighter);

    &:hover:not([disabled]) {
      background-color: var(--cbp-color-interactive-neutral-dark);
    }
  }

  .cbp-btn__square-danger {
    background-color: var(--cbp-color-danger-light);
    color: var(--cbp-color-danger-darker);

    &:hover:not([disabled]) {
      background-color: var(--cbp-color-danger-lighter);
      color: var(--cbp-color-danger-darker);
    }
  }

  .cbp-btn__square-danger--outline {
    background-color: var(--cbp-color-base-neutral-darker);
    border-color: var(--cbp-color-danger-light);
    color: var(--cbp-color-danger-light);

    &:hover:not([disabled]) {
      background-color: var(--cbp-color-danger-light);
      border-color: var(--cbp-color-danger-light);
      color: var(--cbp-color-text-darkest);
    }
  }

  .cbp-btn__square-danger--ghost {
    background-color: var(--cbp-color-base-neutral-darker);
    color: var(--cbp-color-danger-light);

    &:hover:not([disabled]) {
      background-color: var(--cbp-color-danger-dark);
      color: var(--cbp-color-text-lightest);
    }
  }
}