@use 'mixins' as *;

.cbp-btn__danger {
  background-color: var(--cbp-color-danger-base);
  border-color: var(--cbp-color-danger-base);
  color: var(--cbp-color-text-lightest);

  &:hover {
    background-color: var(--cbp-color-danger-dark);
    border-color: var(--cbp-color-danger-dark);
  }
}

.cbp-btn__danger-outline {
  background-color: var(--cbp-color-white);
  border: var(--cbp-border-size-md) solid var(--cbp-color-danger-base);
  color: var(--cbp-color-danger-base);
  padding-top: var(--cbp-space-2x);
  padding-bottom: var(--cbp-space-2x);
  
  &:hover {
    background-color: var(--cbp-color-danger-dark);
    border-color: var(--cbp-color-danger-dark);
    color: var(--cbp-color-text-lightest);
  }

  @include btn-outline-pseudo;
}

.cbp-btn__danger-ghost {
  background-color: transparent;
  border-color: transparent;
  color: var(--cbp-color-danger-base);

  &:hover {
    background-color: var(--cbp-color-danger-lighter);
    color: var(--cbp-color-danger-dark);
  }

  &:disabled {
    background-color: transparent;
    color: var(--cbp-color-interactive-disabled-dark);

    &:hover {
      background-color: var(--cbp-color-interactive-disabled-light);
      color: var(--cbp-color-text-darker);
    }
  }

  &:active {
    background-color: transparent;
    color: var(--cbp-color-interactive-active-dark);
  }
}

[data-cbp-theme="dark"] {
  & .cbp-btn__danger {
    background-color: var(--cbp-color-danger-light);
    border-color: var(--cbp-color-danger-light);
    color: var(--cbp-color-danger-darker);
  
    &:hover {
      background-color: var(--cbp-color-danger-base);
      border-color: var(--cbp-color-danger-base);
    }
  }

  & .cbp-btn__danger-outline {
    background-color: var(--cbp-color-base-neutral-darker);
    border-color: var(--cbp-color-danger-light);
    color: var(--cbp-color-danger-light);

    &:hover {
      background-color: var(--cbp-color-danger-base);
      border-color: var(--cbp-color-danger-base);
    }

    @include btn-outline-pseudo($darkMode: true);
  }

  .cbp-btn__danger-ghost {
    color: var(--cbp-color-danger-light);

    &:hover {
      background-color: var(--cbp-color-danger-base);
      color: var(--cbp-color-text-lightest);
    }

    &:disabled {
      background-color: transparent;
    }
  }
}