@use 'sass:map';
//@use '../../base/colors' as *;


$button-type: (
  "primary": var(--cbp-color-interactive-primary-dark),
  "secondary": var(--cbp-color-interactive-neutral-dark),
  "danger": var(--cbp-color-danger-base),
);

@mixin base-btn {
  display: flex;
  align-items: center;
  height: 2.25rem;
  border: 2px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;

  font-family: inherit;
  font-size: .875rem;
  font-weight: 500;
  
  justify-content: center;
  letter-spacing: 1.08px;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-transform: uppercase;
  transition: all 300ms;

  & > i {
    margin-right: 8px;
    pointer-events: none;
  }
}

@mixin btn-type($type) {
  .cbp-btn__#{$type} {
    @content;
  }
}
