@use '../../base/colors' as *;

@mixin btn-active($theme: light) {
  @if $theme == light {
    background-color: var(--cbp-color-interactive-active-dark) !important;
    box-shadow: none;
    cursor: not-allowed;
    font-style: italic;
    outline: none;
  
    &:hover {
      font-weight: 500 !important;
    } 
  } @else {
    background-color: var(--cbp-color-interactive-active-light);
    color: var(--cbp-color-text-darkest);
  }
}

@mixin btn-disabled {
  background: var(--cbp-color-interactive-disabled-light);
  color: var(--cbp-color-interactive-disabled-dark);
  cursor: pointer;
  font-style: italic;
  font-weight: 500;

  &:hover {
    background-color: var(--cbp-color-interactive-disabled-dark);
    color: var(--cbp-color-text-darkest);
  }
}

@mixin btn-focus {
  background: var(--cbp-color-interactive-focus-dark);
  color: var(--cbp-color-text-lightest);
  font-weight: 700;
  outline: 2px solid var(--cbp-color-white);
  outline-offset: -4px;

  & > i {
    color: var(--cbp-color-text-lightest);
  }

  &:hover {
    background-color: var(--cbp-color-interactive-focus-dark);
  }

  &:hover > i {
    color: var(--cbp-color-text-lightest);
  }
}