// @forward/@use 'colors'
@mixin btn-active($theme: light) {
  @if $theme == light {
    background-color: $cbp-active-dark !important;
    box-shadow: none;
    cursor: not-allowed;
    font-style: italic;
    outline: none;
  
    &:hover {
      font-weight: 500 !important;
    } 
  } @else {
    background-color: $cbp-active-light;
    color: $cbp-text-darkest;
  }
}
