/**
 * @prop --cbp-card-color-background: var(--cbp-color-white)
 * @prop --cbp-card-color-background-dark: var(--cbp-color-gray-cool-60);
 * @prop --cbp-card-color-border: var(--cbp-color-gray-cool-10);
 * @prop --cbp-card-color-border-dark: var(--cbp-color-gray-cool-50);
 * @prop --cbp-card-color-title: var(--cbp-color-text-darker);
 * @prop --cbp-card-color-title-dark: var(--cbp-color-text-lighter);
 * @prop --cbp-banner-card-color: var(--cbp-color-gray-cool-60);
 * @prop --cbp-banner-card-color-dark: var(--cbp-color-gray-cool-20);
 * @prop --cbp-banner-card-color-title: var(--cbp-color-text-lighter);
 * @prop --cbp-banner-card-color-title-dark: var(--cbp-color-text-darker);
 * @prop --cbp-banner-card-color-body-background: var(--cbp-color-white);
 * @prop --cbp-banner-card-color-body-background-dark: var(--cbp-color-gray-cool-60);
 * @prop --cbp-banner-card-color-border: var(--cbp-color-base-neutral-lighter);
 * @prop --cbp-banner-card-color-border-dark: var(--cbp-color-gray-cool-50);
*/

:root {
  --cbp-card-color-background: var(--cbp-color-white);
  --cbp-card-color-background-dark: var(--cbp-color-gray-cool-60);
  --cbp-card-color-border: var(--cbp-color-gray-cool-10);
  --cbp-card-color-border-dark: var(--cbp-color-gray-cool-50);
  --cbp-card-color-title: var(--cbp-color-text-darker);
  --cbp-card-color-title-dark: var(--cbp-color-text-lighter);
  --cbp-card-color-text: var(--cbp-color-text-darker);
  --cbp-card-color-text-dark: var(--cbp-color-text-lightest);
  
  --cbp-banner-card-color: var(--cbp-color-gray-cool-60);
  --cbp-banner-card-color-dark: var(--cbp-color-gray-cool-20); 
  --cbp-banner-card-color-title: var(--cbp-color-text-lighter);
  --cbp-banner-card-color-title-dark: var(--cbp-color-text-darker);
  --cbp-banner-card-color-body-background: var(--cbp-color-white);
  --cbp-banner-card-color-body-background-dark: var(--cbp-color-gray-cool-60);
  --cbp-banner-card-color-border: var(--cbp-color-base-neutral-lighter);
  --cbp-banner-card-color-border-dark: var(--cbp-color-gray-cool-50);
}


[data-cbp-theme=light] cbp-card[context*=dark]:not([context=light-always]),
[data-cbp-theme=dark] cbp-card:not([context=dark-inverts]):not([context=light-always]) {
  --cbp-card-color-background: var(--cbp-card-color-background-dark);
  --cbp-card-color-border: var(--cbp-card-color-border-dark);
  --cbp-card-color-title: var(--cbp-card-color-title-dark);
  --cbp-card-color-text: var(--cbp-card-color-text-dark);

  --cbp-banner-card-color: var(--cbp-banner-card-color-dark);
  --cbp-banner-card-color-title: var(--cbp-banner-card-color-title-dark);
  --cbp-banner-card-color-body-background: var(--cbp-banner-card-color-body-background-dark);
  --cbp-banner-card-color-border: var(--cbp-banner-card-color-border-dark);
}

cbp-card {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background-color: var(--cbp-card-color-background);
  border-radius: var(--cbp-border-radius-softer);
  border-color: var(--cbp-card-color-border);
  border-style: solid;
  border-width: var(--cbp-border-size-md);
  color: var(--cbp-card-color-text);

  .cbp-card-body {
    padding: var(--cbp-space-4x);
    width: 100%;
    max-width: 100%;
    flex-grow: 1;

    :last-child {
      margin-bottom: 0;
    }
  }

  &[stretch] {
    height: 100%;
  }

  [slot=cbp-card-title] {
    display: inline-block;
    color: var(--cbp-card-color-title);
    font-weight: var(--cbp-font-weight-medium);
    font-size: var(--cbp-font-size-heading-lg);
    line-height: var(--cbp-line-height-sm);
    margin-bottom: var(--cbp-space-2x);
  }

  &[color=info] {
    --cbp-card-color-background: var(--cbp-color-info-lighter);
    --cbp-card-color-border: var(--cbp-color-info-light);
    --cbp-card-color-title: var(--cbp-color-text-darker);
    --cbp-card-color-text: var(--cbp-color-text-darkest);

    --cbp-card-color-background-dark: var(--cbp-color-info-darker);
    --cbp-card-color-border-dark: var(--cbp-color-info-dark);
    --cbp-card-color-title-dark: var(--cbp-color-text-lighter);
    --cbp-card-color-text-dark: var(--cbp-color-text-lightest);
  }

  &[color=success] {
    --cbp-card-color-background: var(--cbp-color-success-lighter);
    --cbp-card-color-border: var(--cbp-color-success-light);
    --cbp-card-color-title: var(--cbp-color-text-darker);
    --cbp-card-color-text: var(--cbp-color-text-darkest);

    --cbp-card-color-background-dark: var(--cbp-color-success-darker);
    --cbp-card-color-border-dark: var(--cbp-color-success-dark);
    --cbp-card-color-title-dark: var(--cbp-color-text-lighter);
    --cbp-card-color-text-dark: var(--cbp-color-text-lightest);
  } 
 
  &[color=warning] {
    --cbp-card-color-background: var(--cbp-color-warning-lighter);
    --cbp-card-color-border: var(--cbp-color-warning-base);
    --cbp-card-color-text: var(--cbp-color-text-darkest);

    --cbp-card-color-background-dark: var(--cbp-color-warning-base);
    --cbp-card-color-border-dark: var(--cbp-color-warning-light);
    --cbp-card-color-title-dark: var(--cbp-color-text-darker);
    --cbp-card-color-text-dark: var(--cbp-color-text-darkest);
  }

  &[color=danger] {
    --cbp-card-color-background: var(--cbp-color-danger-lighter);
    --cbp-card-color-border: var(--cbp-color-danger-base);
    --cbp-card-color-text: var(--cbp-color-text-darkest);

    --cbp-card-color-background-dark: var(--cbp-color-danger-darker);
    --cbp-card-color-border-dark: var(--cbp-color-danger-base);
  }

  // Decision Card Variant
  &[variant=decision] {
    border: 0;

    & .cbp-card-body {
      border-width: var(--cbp-border-size-md);
      border-style: solid;
      border-color: var(--cbp-banner-card-color-border);
      border-top-left-radius: var(--cbp-border-radius-softer);
      border-top-right-radius: var(--cbp-border-radius-softer);
      border-bottom: 0;
    }

    & [slot=cbp-card-actions] {
      display: flex;

      cbp-button {
        --cbp-button-border-radius: 0;
        width: 100%;

        &:first-child {
          --cbp-button-border-radius: 0 0 0 var(--cbp-border-radius-softer);
        }
  
        &:last-child {
          --cbp-button-border-radius: 0 0 var(--cbp-border-radius-softer) 0;
        }

        &:first-child:last-child {
          --cbp-button-border-radius: 0 0 var(--cbp-border-radius-softer) var(--cbp-border-radius-softer);
        }
  
        button, a {
          padding-block: var(--cbp-space-3x);
          width: 100%;
        }
      }
    }

    &[color=danger] .cbp-card-body {
      border-color: var(--cbp-color-danger-base);
    }
  }

  &[variant=banner] {
    border-color: var(--cbp-banner-card-color);


    [slot=cbp-card-title] {
      background-color: var(--cbp-banner-card-color);
      color: var(--cbp-banner-card-color-title);
      font-size: var(--cbp-font-size-heading-md);
      font-weight: var(--cbp-font-weight-medium);
      padding: var(--cbp-space-3x) var(--cbp-space-4x);
    }

    .cbp-card-body {
      background-color: var(--cbp-banner-card-color-body-background);
    }

    &[color=info] { 
      --cbp-banner-card-color: var(--cbp-color-info-dark);
      --cbp-banner-card-color-body-background: var(--cbp-color-info-lighter);
      
      --cbp-banner-card-color-dark: var(--cbp-color-info-light);
      --cbp-banner-card-color-body-background-dark: var( --cbp-color-info-darker);
    }
    
    &[color=success] {
      --cbp-banner-card-color: var(--cbp-color-success-dark);
      --cbp-banner-card-color-body-background: var(--cbp-color-success-lighter);
      
      --cbp-banner-card-color-dark: var(--cbp-color-success-light);
      --cbp-banner-card-color-body-background-dark: var(--cbp-color-success-darker);
    }

    &[color=warning] {
      --cbp-banner-card-color: var(--cbp-color-warning-base);
      --cbp-banner-card-color-body-background: var(--cbp-color-warning-lighter);
      --cbp-banner-card-color-title: var(--cbp-color-text-darker);
    
      --cbp-banner-card-color-dark: var(--cbp-color-warning-light);
      --cbp-banner-card-color-body-background-dark: var(--cbp-color-warning-base);
      --cbp-banner-card-color-title-dark: var(--cbp-color-text-darker);
    }

    &[color=danger] {
      --cbp-banner-card-color: var(--cbp-color-danger-base);
      --cbp-banner-card-color-body-background: var(--cbp-color-danger-lighter);
    
      --cbp-banner-card-color-dark: var(--cbp-color-danger-light);
      --cbp-banner-card-color-body-background-dark: var(--cbp-color-danger-darker);
    }

    

  }
}