:root {
  --cbp-card-color-background: var(--cbp-color-white);
  --cbp-card-color-border: var(--cbp-color-gray-cool-10);
  --cbp-card-color-title: var(--cbp-color-text-darker);
  
  --cbp-banner-card-color: var(--cbp-color-gray-cool-60);
  --cbp-banner-card-color-title: var(--cbp-color-text-lighter);
  --cbp-banner-card-color-body-background: var(--cbp-color-white);
}

cbp-card {
  display: block;
  background-color: var(--cbp-card-color-background);
  border-radius: var(--cbp-border-radius-softer);
  border-color: var(--cbp-card-color-border);
  border-style: solid;
  border-width: var(--cbp-border-size-md);

  .cbp-card-body {
    padding: var(--cbp-space-4x);
    width: 100%;

    :last-child {
      margin-bottom: 0;
    }
  }

  [slot=cbp-card-title] {
    display: block;
    color: var(--cbp-card-color-title);
    font-weight: var(--cbp-font-weight-medium);
    font-size: var(--cbp-font-size-heading-lg);
    line-height: var(--cbp-line-height-sm);
  }

  &[color=info] {
    --cbp-card-color-background: var(--cbp-color-info-lighter);
    --cbp-card-color-border: var(--cbp-color-info-light);
    --cbp-card-color-title: var(--cbp-color-info-darker);
  }

  &[color=success] {
    --cbp-card-color-background: var(--cbp-color-success-lighter);
    --cbp-card-color-border: var(--cbp-color-success-light);
    --cbp-card-color-title: var(--cbp-color-success-darker);
  }

  &[color=warning] {
    --cbp-card-color-background: var(--cbp-color-warning-lighter);
    --cbp-card-color-border: var(--cbp-color-warning-light);
  }

  &[color=danger] {
    --cbp-card-color-background: var(--cbp-color-danger-lighter);
    --cbp-card-color-border: var(--cbp-color-danger-light);
  }

  // Decision Card Variant
  &[variant=decision] {
    border: 0;

    & .cbp-card-body {
      border-width: var(--cbp-border-size-md);
      border-style: solid;
      border-color: var(--cbp-color-base-neutral-lighter);
      border-top-left-radius: var(--cbp-border-radius-softer);
      border-top-right-radius: var(--cbp-border-radius-softer);
      border-bottom: 0;
    }

    & [slot=cbp-card-actions] {
      display: flex;

      & cbp-button {
        width: 100%;
      }

      & cbp-button button {
        border-radius: 0;
        padding-top: var(--cbp-space-3x);
        padding-bottom: var(--cbp-space-3x);
        width: 100%;
      }

      & cbp-button:first-child button {
        border-bottom-left-radius: var(--cbp-border-radius-softer);
      }

      & cbp-button:last-child button {
        border-bottom-right-radius: var(--cbp-border-radius-softer);
      }
    }

    &[color=danger] .cbp-card-body {
      border-color: var(--cbp-color-danger-base);
    }
  }

  &[variant=banner] {
    border-color: var(--cbp-banner-card-color);

    & [slot=cbp-card-title] {
      background-color: var(--cbp-banner-card-color);
      color: var(--cbp-banner-card-color-title);
      font-size: var(--cbp-font-size-heading-md);
      font-weight: var(--cbp-font-weight-medium);
      padding: var(--cbp-space-3x) var(--cbp-space-4x);
    }

    & .cbp-card-body {
      background-color: var(--cbp-banner-card-color-body-background);
    }

    &[color=info] {
      --cbp-banner-card-color: var(--cbp-color-info-dark);
      --cbp-banner-card-color-body-background: var(--cbp-color-info-lighter);
    }

    &[color=success] {
      --cbp-banner-card-color: var(--cbp-color-success-dark);
      --cbp-banner-card-color-body-background: var(--cbp-color-success-lighter);
    }

    &[color=warning] {
      --cbp-banner-card-color: var(--cbp-color-warning-base);
      --cbp-banner-card-color-body-background: var(--cbp-color-warning-lighter);
      --cbp-banner-card-color-title: var(--cbp-color-text-darker);
    }

    &[color=danger] {
      --cbp-banner-card-color: var(--cbp-color-danger-base);
      --cbp-banner-card-color-body-background: var(--cbp-color-danger-lighter);
    }
  }
}
