/*
  TODO: replace with CSS variables/tokens
*/

$spacing: (
  16x: var(--cbp-space-16x),
  12x: var(--cbp-space-12x),
  8x: var(--cbp-space-8x),
  6x: var(--cbp-space-6x),
  5x: var(--cbp-space-5x),
  4x: var(--cbp-space-4x),
  3x: var(--cbp-space-3x),
  2x: var(--cbp-space-2x),
  1x: var(--cbp-space-1x),
  0: 0
);

@each $name, $space in $spacing {
  .cbp-margin-#{$name} {
    margin-left: #{$space} !important;
  }

  .cbp-margin-top-#{$name} {
    margin-top: #{$space} !important;;
  }

  .cbp-margin-bottom-#{$name} {
    margin-bottom: #{$space} !important;;
  }

  .cbp-margin-right-#{$name} {
    margin-right: #{$space} !important;;
  }

  .cbp-margin-left-#{$name} {
    margin-left: #{$space} !important;;
  }
}

@each $name, $space in $spacing {
  .cbp-padding-#{$name} {
    padding: #{$space} !important;;
  }

  .cbp-padding-top-#{$name} {
    padding-top: #{$space} !important;;
  }

  .cbp-padding-bottom-#{$name} {
    padding-bottom: #{$space} !important;;
  }

  .cbp-padding-right-#{$name} {
    padding-right: #{$space} !important;;
  }

  .cbp-padding-left-#{$name} {
    padding-left: #{$space} !important;;
  }
}
