// Base Button CSS
.cbp-btn {
  border-width: var(--cbp-border-size-md);
  border-style: solid;
  border-radius: var(--cbp-border-radius-soft);
  cursor: pointer;
  font-weight: var(--cbp-font-weight-medium);
  letter-spacing: var(--cbp-letter-spacing-loose); // Replace with CSS Variables after all letter-spacing sizes confirmed
  padding: var(--cbp-space-2x) var(--cbp-space-3x);
  text-transform: uppercase;
  transition: all var(--cbp-motion-duration-shorter);
  min-height: 2.25rem;

  & > i {
    margin-right: var(--cbp-space-2x);
  }

  &:focus {
    background: var(--cbp-color-interactive-focus-dark);
    border-color: var(--cbp-color-interactive-focus-dark);
    border-style: solid;
    color: var(--cbp-color-text-lightest);
    outline: var(--cbp-border-size-sm) solid var(--cbp-color-white);
    outline-offset: calc(-1 * var(--cbp-space-1x));
  
    &:hover {
      background-color: var(--cbp-color-interactive-focus-dark);
      border-color: var(--cbp-color-interactive-focus-dark);
      color: var(--cbp-color-text-lightest);
    }
  }

  // TODO: why are disabled buttons interactive? Ask Jeremy
  &:disabled {
    background-color: var(--cbp-color-interactive-disabled-light);
    border-color: var(--cbp-color-interactive-disabled-light);
    color: var(--cbp-color-interactive-disabled-dark);
    font-style: italic;
  
    // font-weight property does not apply in :disabled pseudo-class
    &:hover {
      background-color: var(--cbp-color-interactive-disabled-dark);
      border-color: var(--cbp-color-interactive-disabled-dark);
      color: var(--cbp-color-text-darkest);
    }
  }

  &:active {
    background-color: var(--cbp-color-interactive-active-dark);
    border-color: var(--cbp-color-interactive-active-dark);
    font-style: italic;
  }
}

.cbp-btn-square {
  @extend .cbp-btn;
  padding: unset;
  letter-spacing: unset;
  min-height: 2.25rem;
  min-width: 2.25rem;

  & > i {
    margin-right: 0;
  }
}

.cbp-btn-cta {
  @extend .cbp-btn;
  font-size: var(--cbp-font-size-heading-sm);
  padding-left: var(--cbp-space-4x);
  padding-right: var(--cbp-space-4x);
  min-height: 3.25rem;

  & > i {
    margin-right: var(--cbp-space-3x);
  }
}

[data-cbp-theme='dark'] {
  .cbp-btn {
    &:hover {
      color: var(--cbp-color-text-lightest);
    }

    &:focus {
      background-color: var(--cbp-color-interactive-focus-light);
      border-color: var(--cbp-color-interactive-focus-light);
      color: var(--cbp-color-text-darkest);
      outline: var(--cbp-border-size-md) solid var(--cbp-color-black);
      outline-offset: calc(-1 * var(--cbp-space-1x));

      &:hover {
        background-color: var(--cbp-color-interactive-focus-light);
        border-color: var(--cbp-color-interactive-focus-light);
        color: var(--cbp-color-text-darkest);
      }
    }

    &:disabled {
      background-color: var(--cbp-color-interactive-disabled-dark);
      border-color: var(--cbp-color-interactive-disabled-dark);
      color: var(--cbp-color-interactive-disabled-light);

      &:hover {
        background-color: var(--cbp-color-interactive-disabled-light);
        border-color: var(--cbp-color-interactive-disabled-light);
        color: var(--cbp-color-text-darker);
      }
    }
  }
}


// Ripple Animation on Button Click
span.ripple {
  animation: ripple 400ms linear;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  position: absolute;
  transform: scale(0);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}