//@use "sass:map";
//@use "../utilities/z-index" as *;

/*
  Background overlay css used by components that require
  an backdrop 

  - Drawer
  - Modal

*/

/* this is added to the body when a backdrop is active */
.has-backdrop {
  overflow: hidden;
}

.cbp-backdrop {
  display: none;
  position: fixed;
  overflow-y: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: calc(var(--cbp-z-index-level-top) - 1); // Set to 1 less than the content that will sit on top of it.
  background-color: rgba(0, 0, 0, 0.3);
}

.cbp-backdrop.active {
  display: block;
}
