@use './../tokens/breakpoints' as *;

.cbp-fluid-container {
  padding-left: var(--cbp-space-5x);
  padding-right: var(--cbp-space-5x);

  @media (min-width: $cbp-breakpoint-md) and (max-width: $cbp-breakpoint-xl) {
    padding-left: var(--cbp-space-8x);
    padding-right: var(--cbp-space-8x);
  }
  
  @media (min-width: $cbp-breakpoint-xl) {
    padding-left: var(--cbp-space-11x);
    padding-right: var(--cbp-space-11x);
  }
}