@use './../tokens/breakpoints' as *;

.cbp-fluid-container {
  padding: 0 var(--cbp-space-4x);

  @media (min-width: $cbp-breakpoint-md) and (max-width: $cbp-breakpoint-xl) {
    padding: 0 var(--cbp-space-8x);
  }
  
  @media (min-width: $cbp-breakpoint-xl) {
    padding: 0 var(--cbp-space-11x);
  }
}