@use 'mixins' as *;

.cbp-form__label {
  color: var(--cbp-color-text-darkest);
  display: inline-block;
  font-size: var(--cbp-font-size-body);
  font-style: italic;
  font-weight: var(--cbp-font-weight-bold);
  margin-bottom: var(--cbp-space-2x);
}

.cbp-form__description {
  color: var(--cbp-color-text-darkest);
  font-size: var(--cbp-font-size-subhead);
  font-style: italic;
  font-weight: var(--cbp-font-weight-medium);
  margin-bottom: var(--cbp-space-2x);

  &--error {
    color: var(--cbp-color-danger-base);
  }
}

.cbp-form__input {
  @include base-input;
}

.cbp-form__textarea {
  @include base-input;
  min-height: 6.75rem;
  padding: var(--cbp-space-2x);
  resize: none;
}

.cbp-form__password {
  display: flex;

  & > input[type=password],
  & > input[type=text] {
    @include base-input;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:disabled {
      cursor: pointer;
    }
  }

  & > button {
    // @extend .cbp-btn;
    // @extend .cbp-btn__square;
    // @extend .cbp-btn__square-secondary;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -2px;

    &:disabled {
      background-color: var(--cbp-color-interactive-disabled-dark);
      color: var(--cbp-color-interactive-disabled-light);
    }
  }
}

.cbp-form__password--error {
  & > button {
    // @extend .cbp-btn__square-danger;
  }
}

.cbp-form__password--readonly {
  & > button {
    background-color: var(--cbp-color-interactive-neutral-light);
    color: var(--cbp-color-text-lightest);
    cursor: not-allowed;

    &:hover:not([disabled]) {
      background-color: var(--cbp-color-interactive-neutral-light);
    }

    &:disabled {
      background-color: var(--cbp-color-base-neutral-light);
      color: var(--cbp-color-text-lightest);
    }
  }
} 

.cbp-form__number {
  & > input[type=number],
  & > div:first-child > input[type=number] {
    @include base-input;
    // This removes the default increment arrows in the number input field
    -moz-appearance: textfield; /* Firefox */
  }

  &--counter {
    display: flex;

    & > button {
      margin-left: 16px;
    }

    & > button:disabled {
      background-color: var(--cbp-color-interactive-disabled-dark);
      color: var(--cbp-color-text-lightest);
    }

    &.input-read-only {
      & > button:disabled {
        background-color: var(--cbp-color-interactive-neutral-light);
        color: var(--cbp-color-text-lightest);
        cursor: not-allowed !important;
      }
    }
  }
}

.cbp-form__number--switch {
  display: flex;

  & > div:first-child {
    margin-right: 16px;
    display: flex;
    width: 100%;

    & > input[type=number] {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      width: 100%;

      &:hover {
        border-right: 0 !important;

        & ~ .cbp-form__unit {
          border: 2px solid var(--cbp-color-interactive-neutral-darker);
          border-left: 0;
        }
      }

      &:read-only {
        border-right: inherit;

        & ~ .cbp-form__unit {
          background-color: var(--cbp-color-base-neutral-lighter);
          border: 1px solid var(--cbp-color-interactive-neutral-light);
          border-left: 0;
          cursor: not-allowed;

          &:hover {
            border: 1px solid var(--cbp-color-interactive-neutral-light);
            border-left: 0;
          }
        }
      }

      &:focus {
        border-right: 0 !important;

        & ~ .cbp-form__unit {
          border: 2px solid var(--cbp-color-interactive-focus-dark);
          border-left: 0;

          &:hover {
            border: 2px solid var(--cbp-color-interactive-focus-dark);
            border-left: 0;
          }
        }
      }

      &:disabled {
        border-right: inherit;
    
        & ~ .cbp-form__unit {
          background-color: var(--cbp-color-interactive-disabled-light);
          border: 1px solid var(--cbp-color-interactive-disabled-dark);
          border-left: 0;
        }

        &:hover {
          border-right: inherit;

          & ~ .cbp-form__unit {
            border: 2px solid var(--cbp-color-interactive-neutral-darker);
            border-left: 0;
          }
        }

        &:focus {
          border: 2px solid var(--cbp-color-interactive-focus-dark);
        }
      }

      &:invalid {
        border-right: 0;

        & ~ .cbp-form__unit {
          background-color: var(--cbp-color-danger-lighter);
          border: 1px solid var(--cbp-color-danger-base);
          border-left: 0;
        }

        &:hover {
          border-right: 0 !important;
  
          & ~ .cbp-form__unit {
            border: 2px solid var(--cbp-color-danger-dark);
            border-left: 0;
          }
        }
      }
    }
  }
}

.cbp-form__number--phone {
  display: flex;

  & button {
    margin-right: 16px;
    width: 168px;
  }

  & .cbp-dropdown {
    width: 168px;
  }

  & input {
    @include base-input;
    width: 100%;
  }
}

.cbp-input-group {
  display: flex;

  & > input[type=password],
  & > input[type=text] {
    @include base-input;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    flex: 1 1 auto;

    &:disabled {
      cursor: pointer;
    }

    & + button {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      white-space: nowrap;
    }
  }
}

.cbp-form__unit {
  border: 1px solid var(--cbp-color-interactive-neutral-base);
  border-left: none;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: var(--cbp-color-text-darker);
  font-style: italic;
  font-weight: 700;
  height: 36px;
  line-height: 34px;
  margin-bottom: 16px;
  margin-left: -1px;
  padding-left: 8px;
  padding-right: 8px;
  width: auto;
}

// This removes the default increment arrows in the number input field
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Margins still appear even if hidden */
}
