/**
 * @prop --cbp-list-padding: var(--cbp-space-4x);
*/

:root {  
  --cbp-notice-background: var(--cbp-color-info-lighter);
  --cbp-notice-background-dark: var(--cbp-color-info-dark);
  --cbp-notice-border-left-color: var(--cbp-color-info-base);
  --cbp-notice-border-left-color-dark: var(--cbp-color-info-light);
}


[data-cbp-theme=light] cbp-notice[context*=dark]:not([context=light-always]),
[data-cbp-theme=dark] cbp-notice:not([context=dark-inverts]):not([context=light-always]) {
  --cbp-notice-background: var(--cbp-notice-background-dark);
  --cbp-notice-border-left-color: var(--cbp-notice-border-left-color-dark);
}

cbp-notice {
  display: block;


  .notice-container{
    background-color: var(--cbp-notice-background);
    border-left: var(--cbp-space-2x) solid var(--cbp-notice-border-left-color);
    border-radius: var(--cbp-border-radius-softer); //0px 0px var(--cbp-border-radius-softer) var(--cbp-border-radius-softer);

    padding: var(--cbp-space-3x);

    [slot=cbp-notice-title]{
      display: inline-block;
      margin-block-end: var(--cbp-space-2x); //todo: not working as expected but rendering in DOM
    }
  }

  &[color="success"]{
    --cbp-notice-background: var(--cbp-color-success-lighter);
    --cbp-notice-background-dark: var(--cbp-color-success-dark);   
    
    --cbp-notice-border-left-color: var(--cbp-color-success-base);
    --cbp-notice-border-left-color-dark: var(--cbp-color-success-light);
  }

  
  &[color="warning"]{
    --cbp-notice-background: var(--cbp-color-warning-lighter);
    --cbp-notice-background-dark: var(--cbp-color-warning-darker);   
    
    --cbp-notice-border-left-color: var(--cbp-color-warning-base);
    --cbp-notice-border-left-color-dark: var(--cbp-color-warning-base);
  }

  &[color="danger"]{
    --cbp-notice-background: var(--cbp-color-danger-lighter);
    --cbp-notice-background-dark: var(--cbp-color-danger-dark);   
    
    --cbp-notice-border-left-color: var(--cbp-color-danger-base);
    --cbp-notice-border-left-color-dark: var(--cbp-color-danger-light);
  }
}
