@use '../../grid/breakpoints' as *;

:root {
  --cbp-usa-banner-color: var(--cbp-color-text-lightest);
  --cbp-usa-banner-background-color: var(--cbp-color-base-neutral-darkest);
}

[data-variant=light] {
  --cbp-usa-banner-color: var(--cbp-color-text-darker);
  --cbp-usa-banner-background-color: var(--cbp-color-base-neutral-lighter);
}

.cbp-banner {
  position: relative;
  color: var(--cbp-usa-banner-color);
  background-color: var(--cbp-usa-banner-background-color);
}

.cbp-banner__title {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--cbp-space-2x);
  padding: var(--cbp-space-1x) 0;
  font-size: 0.8rem;
}

.cbp-banner__toggle {
  background-color: transparent;
  border: 0;
  color: var(--cbp-color-interactive-neutral-light);
  cursor: pointer;
  padding: 0;
  text-decoration: underline;

  .cbp-usa-banner__dismiss {
    display: none;
  }

  & > span > i {
    position: relative;
    margin-left: var(--cbp-space-1x);
    text-decoration: none;
  }

  &[aria-expanded='true'] span > i {
    transform: rotate(180deg);
    top: -2px;
  }

  &:hover {
    color: var(--cbp-color-interactive-neutral-lighter);
  }

  &:focus {
    color: var(--cbp-color-interactive-focus-light);
    outline: var(--cbp-border-size-md) solid
      var(--cbp-color-interactive-focus-light);
    outline-offset: 2px;
  }
}

.cbp-banner__content {
  display: none;
  background-color: var(--cbp-usa-banner-background-color);
  color: var(--cbp-usa-banner-color);
  max-width: 64rem;
  line-height: 1.6;
  margin: var(--cbp-space-6x) 0;

  & > div {
    display: flex;
    flex-basis: 20rem;
    flex-grow: 1;
    gap: var(--cbp-space-3x);
    padding: 0 var(--cbp-space-3x);
    margin-bottom: 32px;

    & > i {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      height: 52px;
      width: 52px;
      border: var(--cbp-border-size-md) solid var(--cbp-color-info-light);
      border-radius: var(--cbp-border-radius-pill);
      color: var(--cbp-color-info-light);
      font-size: var(--cbp-space-5x);
    }

    & > div > h6 {
      color: var(--cbp-usa-banner-color);
      font-size: inherit;
      line-height: inherit;
    }
  }
}

.banner-active {
  display: flex;
  flex-wrap: wrap;
}

/* This goes against mobile-first, but since all the heavy lifting is at the small size, 
    this makes more sense and reduces the amount of CSS to overwrite it at the larger size.
*/
@media (max-width: 39.99em) {
  .cbp-banner__title:has(.cbp-banner__toggle[aria-expanded='true']) {
    padding-right: 3rem;
  }

  .cbp-banner__toggle[aria-expanded='true'] {
    position: absolute;
    width: 100%;
    min-height: 3rem;
    left: 0;
    bottom: 0;
    top: 0;
    margin-left: auto;
    outline-offset: 0;

    span {
      position: absolute;
      left: -999em;
      right: auto;
    }

    .cbp-usa-banner__dismiss {
      position: absolute;
      top: 0;
      right: 0;
      height: 3rem;
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--cbp-color-interactive-primary-base);
      background-color: var(--cbp-color-base-neutral-light);
      font-size: 2rem;
    }
  }
}
