/* roboto-mono-regular - latin_latin-ext */
@font-face {
  font-display: swap; 
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-mono/roboto-mono-v23-latin_latin-ext-regular.woff2') format('woff2');
}

/* roboto-mono-700 - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-mono/roboto-mono-v23-latin_latin-ext-700.woff2') format('woff2');
}
