//@use 'colors' as *;
//@use '../tokens/font' as *;

html {
  font-size: 100%;
}

body {
  color: var(--cbp-color-text-darkest);
  background-color: var(--cbp-color-branding-cbp-light);
  font: var(--cbp-font-size-body)/1rem var(--cbp-font-family-roboto);
}

[data-theme="dark"] body {
  color: var(--cbp-color-text-lightest);
  background-color: var(--cbp-color-branding-cbp-dark);
}
