@use 'colors';

:root {
  color: colors.$cbp-text-darkest;
  font-family: 'Roboto', Calibri, Tahoma, sans-serif;
  font-size: 14px;
}

[data-theme="dark"] {
  background-color: colors.$cbp-bg-dark;
  color: colors.$cbp-text-lightest;
}