@use 'colors' as *;
@use '../tokens/font' as *;

html[data-cbp-theme="light"] {
  color: $cbp-text-darkest;
  background-color: $cbp-bg-light;
}

html[data-cbp-theme="dark"] {
  color: $cbp-text-lightest;
  background-color: $cbp-bg-dark;
}

body {
  font-family: $cbp-font-family-roboto;
}
