/** todo: update doc
 * @prop 
*/
:root {
  --cbp-structured-list-item-padding: var(--cbp-space-4x);

  --cbp-structured-list-item-color-background-danger: var(--cbp-color-danger-lighter);
  --cbp-structured-list-item-color-background-danger-dark: var(--cbp-color-danger-darker);

  --cbp-structured-list-item-color-background-selected: var(--cbp-color-interactive-selected-light);
  --cbp-structured-list-item-color-background-selected-dark: var(--cbp-color-interactive-selected-dark);

}

[data-cbp-theme=light] cbp-structured-list[context*=dark]:not([context=light-always]),
[data-cbp-theme=dark] cbp-structured-list:not([context=dark-inverts]):not([context=light-always]) {
  --cbp-structured-list-item-color-background-danger: var(--cbp-structured-list-item-color-background-danger-dark);  
  --cbp-structured-list-item-color-background-selected: var(--cbp-structured-list-item-color-background-selected-dark);
}

cbp-structured-list-item {
  display: block;

  &[color=danger]:not([selected]) { //todo: update to component vars
    background-color: var(--cbp-structured-list-item-color-background-danger) !important;
  }

  &[selected] { //todo: update to component vars
    background-color: var(--cbp-structured-list-item-color-background-selected) !important;
  }
}
