cbp-footer {
  display: block;

  .cbp-footer-nav,
  .cbp-footer-content {
    padding: 0 var(--cbp-responsive-spacing-outer);
  }

  .cbp-footer-nav {
    --cbp-button-height: var(--cbp-space-11x);
    --cbp-button-border-radius: 0;
    background-color: var(--cbp-color-gray-cool-60);
    cbp-button {
      width: 100%; 
      --cbp-button-width: 100%; 
      *{
        justify-content: flex-start;
      }
    }
  }

  .cbp-footer-content {
    color: var(--cbp-color-text-lighter);
    background-color: var(--cbp-color-gray-cool-70);
    font-size: var(--cbp-font-size-body);
    font-weight: var(--cbp-font-weight-regular);
    line-height: var(--cbp-line-height-xs);
    padding-bottom: var(--cbp-space-5x);
    padding-top: var(--cbp-space-5x);
  }
}
