cbp-footer {
  display: block;

  .cbp-footer-nav,
  .cbp-footer-content {
    padding: 0 var(--cbp-responsive-spacing-outer);
  }

  .cbp-footer-nav {
    --cbp-button-height: var(--cbp-space-11x);
    background-color: var(--cbp-color-gray-cool-60);

    // Button/Link - Secondary (custom) Ghost Button (Dark) styling
    // [fill] is only present for specificity
    cbp-button[fill] {
      //--cbp-button-border-width: 0;
      //--cbp-button-color-text: var(--cbp-color-interactive-secondary-lighter); same as secondary ghost button
      //--cbp-button-color-fill: transparent;
      --cbp-button-border-radius: 0;

      // TechDebt: This should be handled by the button component's dark mode
      /*
      :hover {
        --cbp-button-color-text-hover: var(--cbp-color-interactive-secondary-lighter);
        --cbp-button-color-fill-hover: var(--cbp-color-interactive-secondary-darker);
      }
    
      :focus {
        --cbp-button-color-text-focus: var(--cbp-color-text-darkest);
        --cbp-button-color-fill-focus: var(--cbp-color-interactive-focus-light);
        --cbp-button-color-outline-focus: var(--cbp-color-black);
      }

      :active {
        --cbp-button-color-text-active: var(--cbp-color-text-darkest);
        --cbp-button-color-fill-active: var(--cbp-color-interactive-focus-light);
        --cbp-button-color-outline-active: var(--cbp-color-black);
      }
      */
    }
  }

  .cbp-footer-content {
    color: var(--cbp-color-text-lightest);
    background-color: var(--cbp-color-gray-cool-70);
    font-size: var(--cbp-font-size-body);
    font-weight: var(--cbp-font-weight-regular);
    line-height: var(--cbp-line-height-xs);
    padding-bottom: var(--cbp-space-5x);
    padding-top: var(--cbp-space-5x);
  }
  
}
