html {
  font-size: 100%;
}

body {
  color: var(--cbp-color-text-darkest);
  background-color: var(--cbp-color-branding-cbp-light);
  font: var(--cbp-font-size-body)/1rem var(--cbp-font-family-roboto);
}

[data-cbp-theme="dark"] body {
  color: var(--cbp-color-text-lightest);
  background-color: var(--cbp-color-branding-cbp-dark);
}

a[href],
button {
  cursor: pointer;
}

[aria-disabled=true],
:disabled,
// Apply to only inputs with readonly attribute. Checkbox, radio, select, file, range/color do not have the readonly attribute.
// input:read-only,
textarea:read-only,
select:read-only {
  cursor: not-allowed;
}