/**
 *  @Prop  --cbp-accordion-item-color: var(--cbp-color-text-darker);
 */
:root {
  --cbp-accordion-item-control-font-size: var(--cbp-font-size-heading-sm);
  --cbp-accordion-item-control-font-weight: var(--cbp-font-weight-semibold);
  --cbp-expand-control-gap: var(--cbp-space-1x);
  --cbp-expand-control-padding: var(--cbp-space-3x);
  --cbp-expand-content-padding: var(--cbp-space-3x);
  --cbp-expand-margin-bottom: var(--cbp-space-2x);

  --cbp-expand-button-color-text: var(--cbp-color-text-lightest);
  --cbp-expand-button-color-text-dark: var(--cbp-color-text-darkest);
  --cbp-expand-button-color-fill: var(--cbp-color-interactive-secondary-darker);
  --cbp-expand-button-color-fill-dark: var(--cbp-color-interactive-secondary-lighter);
  --cbp-expand-button-color-text-hover: var(--cbp-color-text-lightest);
  --cbp-expand-button-color-text-hover-dark: var(--cbp-color-text-darkest);
  --cbp-expand-button-color-fill-hover: var(--cbp-color-interactive-secondary-darker);
  --cbp-expand-button-color-fill-hover-dark: var(--cbp-color-interactive-secondary-lighter);
}

/* 
 * Dark Mode - display dark design based on mode or context
 */
 [data-cbp-theme='light'] cbp-expand[context*='dark'],
 [data-cbp-theme='dark'] cbp-expand:not([context='dark-inverts']):not([context='light-always']) {

  --cbp-expand-button-color-text: var(--cbp-expand-button-color-text-dark);
  --cbp-expand-button-color-fill: var(--cbp-expand-button-color-fill-dark);
  --cbp-expand-button-color-text-hover: var(--cbp-expand-button-color-text-hover-dark);
  --cbp-expand-button-color-fill-hover: var(--cbp-expand-button-color-fill-hover-dark);
 }

cbp-expand {
  display: block;
  margin-bottom: var(--cbp-expand-margin-bottom);

  &:not([open]) {
    --cbp-expand-rotate-icon: rotate(-90deg);
  }

  &:not([open]) .cbp-expand--content {
    display: none;
  }
  //todo: variablize this?
  &[open] {
    // --cbp-expand-color: var(--cbp-color-text-lighter);
    // --cbp-expand-color-fill: var(--cbp-color-gray-cool-60);

    .cbp-expand--control {
      --cbp-accordion-rotate-icon: rotate(90deg);
      --cbp-accordion-toggle: expandTo 500ms;
      //--cbp-expand-color-border: var(--cbp-color-gray-cool-60);
    }
  }
  
  .cbp-expand--control {
    //display: flex;
    //gap: var(--cbp-expand-control-gap);
    //min-height: var(--cbp-space-13x);
    font-size: var(--cbp-expand-control-font-size);
    //font-weight: var(--cbp-expand-control-font-weight);
    //padding: var(--cbp-expand-control-padding);
    cursor: pointer;

    .cbp-expand--toggle {
      --cbp-button-padding: 0;
      --cbp-button-border-width: 0;

      cbp-icon svg {
        transition: transform 150ms;
        transform: var(--cbp-expand-rotate-icon);
      }
    }

    //todo:  issue with default dark mode button overriding? is this correct? up specificity here?
    &:hover .cbp-expand--toggle { 
      --cbp-button-color-text: var(--cbp-expand-button-color-text) !important;
      --cbp-button-color-fill: var(--cbp-expand-button-color-fill) !important;
      --cbp-button-color-text-hover: var(--cbp-expand-button-color-text-hover) !important;
      --cbp-button-color-fill-hover: var(--cbp-expand-button-color-fill-hover) !important;
    }
  }

  .cbp-expand--content {
    padding-left: var(--cbp-space-7x);
  }

}