@use '../base/colors' as token;
@use '../grid/breakpoints' as *;

.dh-lg-none {
  @media screen and (min-width : 768px) {
   display: none !important; 
  }
}

.dh-sm-none {
  @media screen and (max-width : 768px) {
   display: none !important; 
  }
}

.d-sm-none {
  @include cbp-small-grid {
    display: none !important;
  }
}

.d-md-none {
  @include cbp-medium-grid {
    display: none !important;
  }
}

.d-lg-none {
  @include cbp-large-grid {
    display: none !important;
  }
}

.d-xl-none {
  @include cbp-extra-large-grid {
    display: none !important;
  }
}

.cbp-text-lightest {
  color: token.$cbp-text-lightest;
}

.cbp-text-lighter {
  color: token.$cbp-text-lighter;
}

.cbp-text-dark {
  color: token.$cbp-text-dark;
}

.cbp-text-darker {
  color: token.$cbp-text-darker;
}

.cbp-text-darkest {
  color: token.$cbp-text-darkest;
}

.cbp-bg {
  background-color: token.$cbp-bg-light;

  &--dark {
    background-color: token.$cbp-bg-dark;
  }
}

.cbp-bg-base-lightest {
  background-color: token.$cbp-base-neutral-lightest;
}

.cbp-bg-base-lighter {
  background-color: token.$cbp-base-neutral-lighter;
}

.cbp-bg-base-light {
  background-color: token.$cbp-base-neutral-light;
}

.cbp-bg-base {
  background-color: token.$cbp-base-neutral-base;
}

.cbp-bg-base-dark {
  background-color: token.$cbp-base-neutral-dark;
}

.cbp-bg-base-darker {
  background-color: token.$cbp-base-neutral-darker;
}

.cbp-bg-base-darkest {
  background-color: token.$cbp-base-neutral-darkest;
}