// CBP Badges
.cbp-badge {
  display: inline-block;
  width: var(--cbp-space-6x);
  height: var(--cbp-space-6x);
  color: var(--cbp-color-white);
  background-color: var(--cbp-color-info-base);
  border-radius: var(--cbp-border-radius-pill);
  cursor: default;
  font-size: .625rem;
  text-align: center;
  line-height: var(--cbp-space-6x);

  &--danger {
    background-color: var(--cbp-color-danger-base);
  }
}

// CBP Tags
.cbp-tag {
  display: inline-block;
  color: var(--cbp-color-white);
  background-color: var(--cbp-color-info-base);
  border-radius: var(--cbp-border-radius-pill);
  cursor: default;
  padding: 0 var(--cbp-space-3x);
  text-align: center;
  line-height: var(--cbp-space-7x);

  & > i::after {
    content: '\a0\a0';
  }

  &--warning {
    color: var(--cbp-color-black);
    background-color: var(--cbp-color-warning-base);
  }

  &--success {
    background-color: var(--cbp-color-success-base);
  }

  &--danger {
    background-color: var(--cbp-color-danger-base);
  }
}

// CBP Chips
.cbp-chip {
  // @extend .cbp-text-subhead;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0 0 0 var(--cbp-space-3x);
  color: var(--cbp-color-white);
  background-color: var(--cbp-color-interactive-neutral-base);
  border-width: 0;
  border-radius: var(--cbp-border-radius-pill);
  text-transform: uppercase;
  line-height: var(--cbp-space-7x);
  
  & > .cbp-chip__label + .cbp-chip__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 28px;
    min-height: 28px;
    border-width: 0;
    border-radius: 14px;
    margin-left: 4px;
    transition: var(--cbp-motion-duration-shortest);
  }
  
  //&--active {
  &[aria-pressed=true] {
    background-color: var(--cbp-color-interactive-active-dark);
  
    & > .cbp-chip__label + .cbp-chip__icon {
      transform: rotate(-135deg);
    }

    &:hover { 
      background-color: var(--cbp-color-interactive-active-dark);
    }
  }

  &:hover {
    cursor: pointer;

    > .cbp-chip__label + .cbp-chip__icon {
      background-color: #454540; // ToDo
    }
  }

  &:focus-visible {
    background-color: var(--cbp-color-interactive-focus-dark);
    outline: 0;

    > .cbp-chip__label + .cbp-chip__icon {
      background-color: transparent;
      border-color: var(--cbp-color-white); 
      outline: 2px solid white;
      outline-offset: -4px;
    }
  }
}

