//@use '../base/colors' as *;

.mr-2 {
  margin-right: 8px;
}

// CBP Badges
.cbp-badge {
  align-items: center;
  background-color: var(--cbp-color-info-base);
  border-radius: 12px;
  color: var(--cbp-color-white);
  cursor: default;
  display: flex;
  font-size: 10px;
  height: 24px;
  justify-content: center;
  text-align: center;
  width: 24px;

  &--danger {
    background-color: var(--cbp-color-danger-base);
  }
}

// CBP Tags
.cbp-tag {
  // @extend .cbp-text-subhead;
  align-items: center;
  background-color: var(--cbp-color-info-base);
  border-radius: 14px;
  color: var(--cbp-color-white);
  cursor: default;
  display: flex;
  height: 28px;
  justify-content: center;
  padding: 0 12px;
  width: fit-content;

  & > i::after {
    content: '\a0\a0';
  }

  &--warning {
    background-color: var(--cbp-color-warning-base);
    color: var(--cbp-color-black);
  }

  &--success {
    background-color: var(--cbp-color-success-base);
  }

  &--danger {
    background-color: var(--cbp-color-danger-base);
  }
}

// CBP Chips
.cbp-chips {
  // @extend .cbp-text-subhead;
  align-items: center;
  background-color: var(--cbp-color-interactive-neutral-base);
  border-radius: 14px;
  color: var(--cbp-color-white);
  display: flex;
  height: 28px;
  justify-content: center;
  padding-left: 12px;
  text-transform: uppercase;
  width: fit-content;

  &--active {
    background-color: var(--cbp-color-interactive-active-dark);
    
    &:hover { 
      background-color: var(--cbp-color-interactive-active-dark);
    }

    & > span + .plus-border {
      transform: rotate(-45deg);
    }
  }

  & > span + .plus-border {
    align-items: center;
    border-radius: 14px;
    display: flex;
    height: 28px;
    justify-content: center;
    margin-left: 4px;
    width: 28px;
  }

  &:hover {
    cursor: pointer;

    > span + .plus-border {
      background-color: #454540; // ToDo
    }
  }

  &:focus {
    background-color: var(--cbp-color-interactive-focus-dark);
    outline: none;

    > span + .plus-border {
      background-color: transparent;
      border-color: var(--cbp-color-white);
    }
  }

}

