//@use '../base/colors' as *;

form {
  margin-top: 12px;
  margin-bottom: 12px;
}

.cbp-form__control--inline .form-check {
  margin-right: 16px;
}

.cbp-form__control--nested {
  padding-left: 24px;
}

.form-check {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Reset for Checkbox */
[type="checkbox"]::before,
[type="checkbox"]::after {
  box-sizing: border-box;
}

.cbp-form__checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  background-color: var(--cbp-color-white);
  border: 2px solid var(--cbp-color-interactive-neutral-base);
  border-radius: 3px;
  height: 24px;
  margin-right: 8px;
  outline: 0 !important;
  position: relative;
  vertical-align: text-bottom;
  width: 24px;

  &::before {
		content: '';
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		top: 0;
	}
	
  &:hover:not([disabled]) {
    box-shadow: 0 0 0 8px rgba(230, 230, 226, 0.5); // $cbp-ui-neutral-lighter
    clip-path: circle(80%);
  }
  
  &:focus {
    border: 2px solid var(--cbp-color-interactive-focus-dark);
    box-shadow: 0 0 0 8px var(--cbp-color-interactive-focus-light);
    clip-path: circle(80%);
    outline: 0 !important; // Overriding style from _focus.scss??

    &:hover:not([disabled]) {
      box-shadow: 0 0 0 8px var(--cbp-color-interactive-focus-light);
      clip-path: circle(80%);
    }
	}

  &:disabled {
    background-color: var(--cbp-color-interactive-disabled-light);
    border: 2px solid var(--cbp-color-interactive-disabled-dark);

    &:checked {
      border-color: var(--cbp-color-interactive-disabled-dark);
      background-color: var(--cbp-color-interactive-disabled-dark);
      color: var(--cbp-color-white);

      &::before {
        border-right: 3px solid var(--cbp-color-white);
        border-bottom: 3px solid var(--cbp-color-white);
        height: 70%;
        width: 30%;
        transform: rotate(45deg) translateY(-10%) translateX(-10%);
      }

      &:hover {
        background-color: var(--cbp-color-interactive-neutral-base);
        box-shadow: 0 0 0 8px var(--cbp-color-interactive-disabled-light); // $cbp-selected-light
        clip-path: circle(80%);
      }

      &:focus {
        background-color: var(--cbp-color-interactive-disabled-light);
        border: 2px solid var(--cbp-color-black);
        // TechDebt: why use box-shadow instead of outline? box-shadow does not meet accessibility standards for focus because it does not show in high contrast mode
        box-shadow: 0 0 0 8px var(--cbp-color-interactive-focus-light); 
        clip-path: circle(80%);
        outline: 0 !important; // Overriding style from _focus.scss??

        &::before {
          border-right: 3px solid var(--cbp-color-interactive-disabled-dark);
          border-bottom: 3px solid var(--cbp-color-interactive-disabled-light);
          height: 70%;
          width: 30%;
          transform: rotate(45deg) translateY(-10%) translateX(-10%);
        }
    
        &:hover:not([disabled]) {
          box-shadow: 0 0 0 8px var(--cbp-color-interactive-focus-light);
          clip-path: circle(80%);
        }
      }
    }

    &:hover {
      border: 2px solid var(--cbp-color-interactive-neutral-base);
      box-shadow: 0 0 0 8px var(--cbp-color-interactive-neutral-lighter);
      clip-path: circle(80%);
    }

    &:focus {
      border: 2px solid var(--cbp-color-interactive-focus-dark);
      box-shadow: 0 0 0 8px var(--cbp-color-interactive-focus-light);
      clip-path: circle(80%);
      outline: 0 !important; // Overriding style from _focus.scss??
  
      &:hover:not([disabled]) {
        box-shadow: 0 0 0 8px var(--cbp-color-interactive-focus-light);
        clip-path: circle(80%);
      }
    }

    &:indeterminate {
      background-color: var(--cbp-color-interactive-disabled-dark);
      border: 2px solid var(--cbp-color-interactive-disabled-dark);
  
      &::before {
        border: 1px solid var(--cbp-color-interactive-disabled-light);
        height: 0;
        width: 60%;
      }
  
      &:hover {
        background-color: var(--cbp-color-interactive-neutral-base);
        border: 2px solid var(--cbp-color-interactive-neutral-base);
        box-shadow: 0 0 0 8px var(--cbp-color-interactive-disabled-light); // $cbp-selected-light
        clip-path: circle(80%);
      }
  
      &:focus {
        background-color: var(--cbp-color-interactive-focus-dark);
        border: 2px solid var(--cbp-color-white);
      }
    }
  }

  &:checked {
    border-color: #745fe9;
    background-color: #745fe9;
    color: var(--cbp-color-white);

    &::before {
      border-right: 3px solid var(--cbp-color-white);
      border-bottom: 3px solid var(--cbp-color-white);
      height: 70%;
      width: 30%;
      transform: rotate(45deg) translateY(-10%) translateX(-10%);
    }

    &:hover {
      box-shadow: 0 0 0 8px #e4deff; // $cbp-selected-light TODO - token
      clip-path: circle(80%);
    }

    &:focus {
      background-color: var(--cbp-color-interactive-focus-dark);
      border: 2px solid var(--cbp-color-white);
    }
  }

  &:indeterminate {
    background-color: #745fe9; // TODO - tokens
    border: 2px solid #745fe9;

    &::before {
      border: 1px solid var(--cbp-color-white);
      height: 0;
      width: 60%;
    }

    &:hover {
      box-shadow: 0 0 0 8px #e4deff; // $cbp-selected-light
      clip-path: circle(80%);
    }

    &:focus {
      background-color: var(--cbp-color-interactive-focus-dark);
      border: 2px solid var(--cbp-color-white);
    }
  }
}
