//@use '../base/colors' as *;

.cbp-link__inline {
  color: var(--cbp-color-interactive-primary-base);
  cursor: pointer;
  font-weight: 400;
  text-decoration: underline;

  &:hover:not([disabled]) {
    color:  var(--cbp-color-interactive-primary-dark);
    font-weight: 700;
  }

  &:focus:not([disabled]) {
    color:  var(--cbp-color-interactive-focus-dark);
    font-weight: 700;
    outline: 2px solid  var(--cbp-color-interactive-focus-dark);
  }

  &:visited:not([disabled]) {
    color:  var(--cbp-color-interactive-visited-dark);

    &:focus:not([disabled]) {
      color:  var(--cbp-color-interactive-focus-dark);
    }
  }
}

.cbp-link__inline--disabled {
  color:  var(--cbp-color-text-base) !important;
  cursor: not-allowed;
  font-style: italic;

  &:hover {
    color: var(--cbp-color-interactive-neutral-dark) !important;
  }

  &:focus {
    color:  var(--cbp-color-interactive-focus-dark) !important;
    font-weight: 700;
    outline: 2px solid  var(--cbp-color-interactive-focus-dark);
  }
}