:root {
  --cbp-container-color-text: inherit;
  --cbp-container-color-background: transparent;
  --cbp-container-color-inner-background: var(--cbp-container-color-background);

  --cbp-container-color-text-dark: inherit;
  --cbp-container-color-background-dark: transparent;

  --cbp-container-content-padding: 0;
  --cbp-container-inner-width: auto;
}


// Displays dark design based on mode or context
[data-cbp-theme=light] cbp-container[context*=dark],
[data-cbp-theme=dark] cbp-container:not([context=dark-inverts]):not([context=light-always]) {

  --cbp-container-color-text: var(--cbp-container-color-text-dark) !important;
  --cbp-container-color-background: var(--cbp-container-color-background-dark) !important;

}

cbp-container {
  display: block;
  color: var(--cbp-container-color-text);
  background: var(--cbp-container-color-background);
  padding: var(--cbp-container-content-padding);
  max-width: 100%;

  .cbp-container--inner {
    display: block;
    background: var(--cbp-container-color-inner-background);
    margin: auto;
    width: var(--cbp-container-inner-width);
  }
}

